html {
  box-sizing: border-box; /*Ширина и высота элементов теперь рассчитывается от границ блока, а не контента*/
}
*,
*:before,
*:after {
  box-sizing: inherit; /*Задаёт каждому элементу, перед ним и после него наследование бокс сайзинга от его материнского элемента*/
}
body {
  display: flex;
  align-items: flex-start;
  width: 2678px;
  padding-top: 70px;
  padding-left: 92px;
  margin: 0; /*Убирает отступы*/
  font-family: "OpenSans", "Arial", sans-serif; /*Задаёт шрифт телу страницы. Если необходимый шрифт по каким-то ричинам не загружается, то вместо него используется тот, который записан после него, и так далее*/
  font-size: 16px; /*Задаёт изначальный размер шрифта. Пишется наиболее часто встречающийся размер на странице. Это нужно, чтобы по 1к раз не писать размер шрифта в CSS*/
  font-weight: 400;
  line-height: 1;
  background-color: #444444; /*Цвет фона*/
  color:#000000; /*То же, что и font-size, только для цвета шрифта*/
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
:root {
  --orange-color: #FF9900;
  --white-color: #FFFFFF;
  --caca-color: #CACACA;
  --dark-orange: #E1670E;
  --light-orange: #F7B045;
  --black-color: #000000;
  --transition-05: 0.5s ease;
}



/*ЧЕКБОКС*/

.checkbox-container {
  max-width: 176px;
  margin-right: 58px;
  padding: 21px 0 1px 30px;
  background-color: var(--white-color);
  border-radius: 10px;
}
h2 {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
}
.checkbox-container__checkbox-list {
  display: flex;
  flex-direction: column;
  margin-right: 29px;
}
.checkbox-container__checkbox-item {
  display: flex;
}
.checkbox-container__checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
  outline: none;
  transition: outline var(--transition-05);
}
.checkbox-container__checkbox-label:focus {
  outline: 1px solid #CCB26E;
  transition: outline var(--transition-05);
}
.checkbox-container__checkbox-unit {
  position: absolute;
  display: flex;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 30;
}
.checkbox-container__checkbox-unit + .checkbox-container__checkbox-unit-custom {
  display: flex;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #CCB26E;
}
.checkbox-container__checkbox-unit + .checkbox-container__checkbox-unit-custom:before {
  content: "";
  position: relative;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 3px;
  border-bottom: 1px solid #CCB26E;
  border-left: 1px solid #CCB26E;
  transform: rotate(-45deg);
  opacity: 0;
}
.checkbox-container__checkbox-unit:checked + .checkbox-container__checkbox-unit-custom:before {
  opacity: 1;
}
.checkbox-container__checkbox-text {
  margin-right: auto;
}



/*СЕЛЕКТ*/

.select-container {
  width: 176px;
  margin-right: 58px;
}
.choices {
  border-radius: 10px;
}
.choices__inner {
  border: none;
}
.choices[data-type*=select-one]::after {
  top: 40%;
  width: 8px;
  height: 8px;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  transform: rotate(-45deg);
}
.choices[data-type*=select-one].is-open::after {
  top: 60%;
  transform: rotate(135deg);
  z-index: 50;
  border-color: #CCB26E;
}
.choices.is-focused.is-open .choices__inner {
  position: relative;
  border-radius: 10px;
  outline: 1px solid #CCB26E;
  z-index: 30;
}
.choices .choices__list--dropdown.is-active {
  margin-top: -13px;
  border: none;
  border-radius: 10px;
  outline: 1px solid #CCB26E;
}
.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}
.choices__list--dropdown .choices__placeholder {
  display: none;
}
.choices__list--dropdown .choices__list {
  padding-top: 13px;
}



/*ЯНДЕКС КАРТА*/

#map {
  margin-right: 58px;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyrights-pane .ymaps-2-1-79-copyright .ymaps-2-1-79-copyright_logo_no,
.ymaps-2-1-79-copyright__wrap,
.ymaps-2-1-79-copyright__layout,
.ymaps-2-1-79-copyright__content-cell,
.ymaps-2-1-79-copyright__content {
  display: none;
}



/*СКРОЛЛБАР*/

.scroll-container {
  width: 399px;
  max-height: 310px;
  margin-right: 58px;
  padding: 20px 30px 0 29px;
  background-color: #FFF;
  line-height: 24px;
}
.scroll-container .simplebar-track {
  right: 6px;
  bottom: 7px;
}
.scroll-container .simplebar-vertical .simplebar-scrollbar::before {
  background-color: #CCB26E;
  border-radius: 5px;
  opacity: 1;
}



/*ФОРМА*/

.form-container {
  width: 440px;
  padding: 21px 30px 39px 30px;
  margin-right: 58px;
  background-color: #00000080;
  border-radius: 10px;
}
.form-container__input-form {
  display: flex;
  flex-direction: column;
}
.form-container__form-label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 14px;
}
.form-container__input-form :nth-child(3) {
  margin-bottom: 31px;
}
.form-container__apply-input {
  width: 100%;
  padding: 24px 0 24px 20px;
  border-radius: 10px;
  border: none;
  outline: 1px solid #CCB26E;
}
.form-container__form-label .just-validate-error-label {
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #FF5C00;
}
.form-container__send {
  width: 192px;
  padding: 19px 0;
  background-color: #FF5C00;
  color: #FFF;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}



/*ТУЛТИП*/

.tooltip-container {
  position: relative;
  padding: 20px 29px;
  max-width: 375px;
  background-color: #FFF;
  font-size: 14px;
  line-height: 24px;
  z-index: 3;
}
.tooltip-container__tooltip {
  position: relative;
  display: inline;
  z-index: 1;
}
.tooltip-container__point {
  position: relative;
  top: 2px;
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #888;
  transition: background-color var(--transition-05);
}
.tooltip-container__point::before {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 2px;
  content: '';
  border-radius: 50%;
  background-color: #FFF;
}
.tooltip-container__point::after {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 2px;
  height: 7px;
  content: '';
  background-color: #FFF;
}
.tooltip-container__popup {
  position: absolute;
  bottom: calc(100% + 15px);
  left: 50%;
  max-width: 163px;
  width: max-content;
  padding: 5px 15px;
  background-color: #666;
  color: #FFF;
  font-size: 12px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity var(--transition-05);
}
.tooltip-container__popup::before {
  border: 6px solid transparent;
	border-top-color: #666;
	position: absolute;
	top: 100%;
	left: 50%;
  transform: translateX(-50%);
	content: '';
}
.tooltip-container__point:hover {
  background-color: #CCB26E;
  transition: background-color var(--transition-05);
}
.tooltip-container__point:hover + .tooltip-container__popup {
  opacity: 1;
  transition: opacity var(--transition-05);
}
