.section-hero {
  position: relative;
}
.section-hero .container {
  position: relative;
  max-width: 1770px;
  padding-left: 80px;
  margin-bottom: 100px;
}
/*.section-hero__container {
  position: relative;
  height: 620px;
  /*padding: 0 0 91px 79px;
  z-index: 1;
}*/
.section-hero .swiper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: inherit;
}
.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide-first {
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
}
.swiper-slide-second {
  background-image: url(../img/brown-and-blue-glass-building-20930762.jpg);
}
.swiper-slide-third {
  background-image: url(../img/apartment-apartment-building-architecture-building-3237052.jpg);
}
.section-hero__content {
  position: relative;
  max-width: 842px;
  z-index: 5;
  padding: 100px 0 97px 0;
}
.section-hero__pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 6;
  transform: translateX(-50%);
}
.section-hero .container .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background-color: var(--white-color);
}
.section-hero .container .swiper-pagination-horizontal {
  bottom: 30px;
}
.section-hero__first-heading {
  margin: 0 0 22px 0;
  font-size: 70px;
  font-weight: 800;
  line-height: 86px;
  color: var(--white-color);
}
.section-hero__paragraph {
  margin-bottom: 90px;
  font-size: 23px;
  line-height: 29px;
  font-weight: 700;
  color: var(--white-color);
}
.section-hero__calculation-link {
  display: block;
  max-width: 282px;
  padding: 26px 40px;
  background-color: var(--orange-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  color: var(--white-color);
  transition: background-color var(--transition-05);
}
.section-hero__calculation-link:hover, .section-hero__calculation-link:focus {
  background-color: rgb(255, 153, 0, 0.6);
  transition: background-color var(--transition-05);
}
.section-hero__calculation-link:active {
  background-color: var(--dark-orange);
  transition: background-color var(--transition-05);
}
@media (max-width: 1039px) {
.section-hero {
  padding: 0 50px;
}
.section-hero .container {
  margin-bottom: 80px;
}
.section-hero .swiper-wrapper {
  height: 668px;
}
.section-hero__content {
  padding: 155px 0 160px 0;
}
.section-hero__container {
  margin-bottom: 80px;
  padding: 158px 77px 160px 77px;
}
.section-hero__paragraph {
  max-width: 660px;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 24px;
}
.section-hero__first-heading {
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 17px;
}
.section-hero__calculation-link {
  max-width: 280px;
  padding: 25px 36px;
}
}
@media (max-width: 783px) {
  .section-hero .container {
    padding: 0 30px;
  }
  .section-hero .swiper-wrapper {
    height: 662px;
  }
  .section-hero__container {
    padding: 160px 40px;
  }
  .section-hero__content {
    padding: 155px 0 160px 0;
  }
  .section-hero__first-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .section-hero__paragraph {
    margin-bottom: 86px;
    font-size: 18px;
  }
}
@media (max-width: 698px) {
  .section-hero {
    padding: 0 15px;
  }
  .section-hero .container {
    padding: 0 20px;
  }
  .section-hero__container {
    margin-bottom: 45px;
    padding: 60px 21px;
  }
  .section-hero__content {
    padding: 60px 0;
  }
  .section-hero__first-heading {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .section-hero__paragraph {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .section-hero__calculation-link {
    width: 162px;
    height: 40px;
    margin: 0 auto;
    font-size: 12px;
    padding: 12px 18px;
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
  }
  .section-hero .container .swiper-pagination-horizontal {
    bottom: 15px;
  }

}
