html {
  box-sizing: border-box; /*Ширина и высота элементов теперь рассчитывается от границ блока, а не контента*/
}
*,
*:before,
*:after {
  box-sizing: inherit; /*Задаёт каждому элементу, перед ним и после него наследование бокс сайзинга от его материнского элемента*/
}
body {
  margin: 0; /*Убирает отступы*/
  font-family: "Montserrat", "Arial", sans-serif; /*Задаёт шрифт телу страницы. Если необходимый шрифт по каким-то ричинам не загружается, то вместо него используется тот, который записан после него, и так далее*/
  font-size: 16px; /*Задаёт изначальный размер шрифта. Пишется наиболее часто встречающийся размер на странице. Это нужно, чтобы по 1к раз не писать размер шрифта в CSS*/
  font-weight: 400;
  line-height: 1;
  background-color: #FFFFFF; /*Цвет фона*/
  color:#000000; /*То же, что и font-size, только для цвета шрифта*/
}
.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
  /* margin: 0 75px 100px 75px;
  padding-right: 75px;
  padding-left: 75px; */
}
.p-reset {
  display: block;
  margin: 0;
}
a {
  text-decoration: none; /*Убирает изначальную декорацию ссылок*/
  color: #333333; /*Ссылка наследует цвет текста от родительского элемента*/
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.second-heading {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}
.third-heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
:root {
  --orange-color: #FF9900;
  --white-color: #FFFFFF;
  --caca-color: #CACACA;
  --dark-orange: #E1670E;
  --light-orange: #F7B045;
  --black-color: #000000;
  --transition-05: 0.5s ease;
}
@media (max-width: 1039px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 698px) {
  .container {
    padding: 0 15px;
  }
}
