.footer__footer {
  background-color: #222222;
}
.footer__container {
  display: flex;
  padding: 48px 0 80px 0;
  background-color: #222222;
}
.footer__left-part {
  min-width: 317px;
  margin-right: auto;
}
.footer__logo {
  display: block;
  width: 224px;
  height: 72px;
  margin-bottom: 11px;
}
.footer__menu {
  margin-bottom: 107px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}
.footer__menu-link {
  color: var(--caca-color);
  transition: color var(--transition-05);
}
.footer__menu-link:hover {
  color: var(--orange-color);
  transition: color var(--transition-05);
}
.footer__menu-link:focus {
  border: 1px var(--orange-color) solid;
  transition: color var(--transition-05);
}
.footer__menu-link:active {
  color: var(--dark-orange);
  transition: color var(--transition-05);
}
.footer__media-item {
  display: inline-block;
  margin-right: 19px;
  width: 62px;
  height: 62px;
}
.footer__media-link {
  display: block;
  width: inherit;
  height: inherit;
  transition: fill var(--transition-05), border var(--transition-05);
}
.footer__media-link svg path {
  transition: fill var(--transition-05);
}
.footer__media-link:hover svg path {
  fill: var(--orange-color);
  transition: fill var(--transition-05);
}
.footer__media-link:focus {
  border: 1px var(--orange-color) solid;
  transition: border var(--transition-05);
}
.footer__media-link:active svg path {
  fill: var(--dark-orange);
  transition: fill var(--transition-05);
}
.footer__media-item:nth-child(2) {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}
.footer__media-item:nth-child(3) {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  margin-right: 0;
}
.footer__mid-part {
  max-width: 623px;
  padding: 9px 0 0 51px;
  margin-right: auto;
}
.footer__mid-second-heading {
  min-width: 570px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 58px;
  color: var(--caca-color);
}
.footer__apply-input {
  min-height: 60px;
  min-width: 570px;
  margin-bottom: 25px;
  padding-left: 24px;
  line-height: 32px;
  font-size: 16px;
  font-family: inherit;
  background-color: #414141;
  border: none;
  transition: background-color var(--transition-05);
}
.footer__apply-input:hover, .footer__apply-input:focus, .footer__apply-input:active {
  background-color: #666666;
  transition: background-color var(--transition-05);
}
.footer__apply-input:active {
  color: var(--white-color);
}
.footer__apply-input-message {
  max-height: 150px;
  padding-top: 13px;
  margin-bottom: 29px;
  resize: none;
}
.footer__data-processing {
  color: var(--caca-color);
}
.footer__send {
  width: 269px;
  height: 60px;
  margin-right: 17px;
  background-color: var(--orange-color);
  border: none;
  font-weight: 700;
  line-height: 19px;
  font-family: inherit;
  font-size: inherit;
  color: var(--white-color);
  transition: background-color var(--transition-05);
}
.footer__send:hover {
  background-color: rgba(255, 153, 0, 0.6);
  transition: background-color var(--transition-05);
}
.footer__send:active {
  background-color: var(--dark-orange);
  transition: background-color var(--transition-05);
}
.footer__checkbox {
  width: 14px;
  height: 14px;
  margin: 0;
  cursor: pointer;
}
.footer__right-part {
  width: 363px;
  padding-top: 78px;
  line-height: 32px;
  color: var(--caca-color);
}
