.section-faq__container {
  padding: 0 0 0 1px;
  margin-bottom: 101px;
}
.second-heading.section-faq__second-heading {
  margin-bottom: 39px;
}
.section-faq__spoiler {
  padding-left: 3px;
  background-image: url(../img/+х.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 1716px;
}
.section-faq__spoiler-heading {
  display: block;
  padding-top: 39px;
  padding-bottom: 38px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  border-bottom: 0.5px var(--caca-color) solid;
  border-top: 0.5px var(--caca-color) solid;
  cursor: pointer;
  transition: var(--transition-05);
}
.section-faq__spoiler-heading:hover {
  border-bottom: 0.5px var(--orange-color) solid;
  border-top: 0.5px var(--orange-color) solid;
  color: var(--orange-color);
  transition: var(--transition-05);
}
.section-faq__spoiler-heading::marker {
  display: none;
}
.section-faq__spoiler-paragraph {
  max-width: 1003px;
  line-height: 32px;
}
