.section-work__container {
  margin-bottom: 100px;
}
.section-work__second-heading {
  margin-bottom: 48px;
}
.section-work__steps {
  display: flex;
  margin-bottom: 46px;
  padding-left: 3px;
}
.section-work__step {
  margin-right: 89px;
  font-size: 18px;
  line-height: 21px;
}
.section-work__step .section-work__step-item {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: inherit;
  line-height: 17px;
  transition: color var(--transition-05), border var(--transition-05);
}
.section-work__step:nth-last-child(2), .section-work__step:nth-last-child(3) {
  margin-right: 89px;
}
.section-work__step:last-child {
  margin-right: 0;
}
.section-work__step-item:hover {
  color: var(--orange-color);
  transition: color var(--transition-05);
}
.section-work__step-item:focus {
  outline: 1px var(--orange-color) solid;
  transition: outline var(--transition-05);
}
.section-work__step .section-work__step-item:active {
  color: var(--dark-orange);
}
.section-work__content {
  padding-left: 1px;
  background-image: url(../img/Rectangle\ 18.jpg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 902px 11px;
}
.section-work__third-heading {
  margin-bottom: 5px;
  padding-left: 1px;
}
.section-work__paragraph {
  width: 759px;
  margin-bottom: 62px;
  padding-left: 1px;
  line-height: 32px;
  font-size: 16px;
}
.section-work__details-link {
  display: inline-block;
  width: 175px;
  margin-right: 26px;
  padding: 21px 38px 20px 38px;
  background-color: var(--orange-color);
  font-weight: 600;
  line-height: 19px;
  color: var(--white-color);
  transition: background-color var(--transition-05);
}
.section-work__details-link:hover, .section-work__details-link:focus {
  background-color: var(--light-orange);
  transition: background-color var(--transition-05);
}
.section-work__details-link:active {
  background-color: var(--dark-orange);
  transition: background-color var(--transition-05);
}
.section-work__contract-link {
  display: inline-block;
  width: 147px;
  padding: 20px 37px 17px 37px;
  border: 1px var(--black-color) solid;
  line-height: 19px;
  transition: background-color var(--transition-05), color var(--transition-05);
}
.section-work__contract-link:hover, .section-work__contract-link:focus {
  background-color: #666666;
  color: var(--white-color);
  transition: background-color var(--transition-05), color var(--transition-05);
}
.section-work__contract-link:active {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: background-color var(--transition-05), color var(--transition-05);
}
