.footer-info-left {
  max-width: 300px;
  line-height: 32px;
}
.footer-info-center {
  max-width: 360px;
}
.black-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  min-height: 386px;
  padding-top: 48px;
  color: #ffffff;
  background-color: #333333;
  background-image: url(../img/Слой\ 27\ копия.png);
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: 733px 155px;
  border-radius: 15px;
}
.footer-info-left p {
  margin: 0 auto 54px auto;
}
.footer-info-center p {
  margin: 0 auto 44px auto;
}
.footer-media {
  display: flex;
  flex-direction: column;
}
.media-link {
transform: translateY(4px);
width: 26px;
height: 26px;
margin-bottom: 22px;
background-image: url(../img/tripadvisor.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.footer-media :nth-child(2) {
  background-image: url(../img/twitter.svg);
}
.footer-media :nth-child(3) {
  background-image: url(../img/facebook.svg);
}
.footer-media :nth-child(4) {
  background-image: url(../img/social.svg);
}
.footer-media :nth-child(5) {
  background-image: url(../img/google-plus-social-logotype.svg);
}
