<section class="section about__section">
    <div class="section__header">
        <h1 class="section__header-title">О бренде</h1>
    </div>
    <div class="about__content row align-items-center">
        <div class="col">
            <div class="about__image-wrap">
                <img src="./assets/img/imgBrand.png" alt="">
            </div>
        </div>
        <div class="col">

            <div class="about__contents d-flex flex-wrap">
                <div class="about__content__items">
                    <span class="about__content-number">14</span>
                    <div class="about__content-text"><span>Лет</span> на рынке</div>
                </div>
                <!-- /.about__content__items -->

                <div class="about__content__items">
                    <span class="about__content-number">200</span>
                    <div class="about__content-text">Сервисных центров</div>
                </div>
                <!-- /.about__content__items -->

                <div class="about__content__items">
                    <span class="about__content-number">500+</span>
                    <div class="about__content-text"><span>Моделей</span> электроинструмента и оборудования</div>
                </div>
                <!-- /.about__content__items -->
                
            </div>

        </div>
    </div>
</section>