<section class="section advantages__section text__section">
    <div class="advantages__content row align-items-center">
        <div class="col-12 col-lg-6">
            <div class="advantages__content-left">
                <div class="advantages__content-block">
                    <svg>
                        <use xlink:href="./assets/img/svg/diamond.svg#diamond">
                    </svg>
                    <p>Современный дизайн и эргономика</p>
                </div>
                <div class="advantages__content-block">
                    <svg>
                        <use xlink:href="./assets/img/svg/cup.svg#cup">
                    </svg>
                    <p>Европейское качество</p>
                </div>
                <div class="advantages__content-block">
                    <svg>
                        <use xlink:href="./assets/img/svg/settings.svg#settings">
                    </svg>
                    <p>Максимальный функционал</p>
                </div>
                <div class="advantages__content-block">
                    <svg>
                        <use xlink:href="./assets/img/svg/file.svg#file">
                    </svg>
                    <p>Надежность техники</p>
                </div>
                <div class="advantages__content-block">
                    <svg>
                        <use xlink:href="./assets/img/svg/wallet.svg#wallet">
                    </svg>
                    <p>Доступные цены</p>
                </div>
                <div class="advantages__content-block">
                    <svg>
                        <use xlink:href="./assets/img/svg/bulb.svg#bulb">
                    </svg>
                    <p>Продуманная конструкция</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 text__section-content">
            <h1>Преимущества</h1>
            <p>Elitech известен в России как динамичный и активно развивающийся бренд выпускающий продукцию европейского качества. Политика компании в области контроля качества является одной их приоритетных.</p>
            <p>До серийного производства продукция проходит многократное тестирование. Каждая линейка продукции состоит из сбалансированного ассортимента, способного удовлетворить потребности  от начинающих пользователей до продвинутых. Продуманная конструкция узлов обеспечивает долгий срок службы изделий и легкость их обслуживания. Современный дизайн и превосходная эргономика превращают любой рабочий процесс в удовольствие.</p>
        </div>
    </div>
</section>