<div class="characteristics">
    <ul class="nav nav-tabs characteristics__nav" id="myTab" role="tablist">
        <li class="characteristics__nav-item nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Характеристики</button>
        </li>
        <li class="characteristics__nav-item nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Описание</button>
        </li>
        <li class="characteristics__nav-item nav-item" role="presentation">
          <button class="nav-link" id="news-tab" data-bs-toggle="tab" data-bs-target="#news-tab-pane" type="button" role="tab" aria-controls="news-tab-pane" aria-selected="false">В новостях</button>
        </li>
        <li class="characteristics__nav-item nav-item" role="presentation">
            <button class="nav-link" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="false">Видеообзоры</button>
        </li>
        <li class="characteristics__nav-item nav-item" role="presentation">
            <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service-tab-pane" type="button" role="tab" aria-controls="service-tab-pane" aria-selected="false">Запчасти и сервис</button>
        </li>
        <li class="characteristics__nav-item nav-item" role="presentation">
            <button class="nav-link" id="document-tab" data-bs-toggle="tab" data-bs-target="#document-tab-pane" type="button" role="tab" aria-controls="document-tab-pane" aria-selected="false">Документы</button>
        </li>
        <li class="characteristics__nav-item nav-item" role="presentation">
            <button class="nav-link" id="dealers-tab" data-bs-toggle="tab" data-bs-target="#dealers-tab-pane" type="button" role="tab" aria-controls="dealers-tab-pane" aria-selected="false">Наличе у дилеров</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="characteristics__content-small">
                <div class="characteristics__content-row">
                    <div class="characteristics__row-name">Номинальная выходная мощность</div>
                    <div class="characteristics__row-dots"></div>
                    <div class="characteristics__row-value">2/12  (зарядка/запуск, кВт)</div>
                </div>
                <div class="characteristics__content-row">
                    <div class="characteristics__row-name">Температура эксплуатации</div>
                    <div class="characteristics__row-dots"></div>
                    <div class="characteristics__row-value">от -10 °С до +40 °С</div>
                </div>
                <div class="characteristics__content-row">
                    <div class="characteristics__row-name">Класс защиты</div>
                    <div class="characteristics__row-dots"></div>
                    <div class="characteristics__row-value">IP20</div>
                </div>
                <button type="button" class="characteristics__content-showmore">Показать все характеристики</button>
            </div>
            <!-- /.characteristics__content -->
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="characteristics__content-small">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, libero minus, blanditiis inventore consequatur adipisci aut ex sint magni facere placeat voluptate atque mollitia! Commodi odio illum neque delectus dolor?
                Corporis nihil alias libero expedita dolores tempora placeat quis tempore architecto! In velit eos nihil obcaecati odio, odit voluptates eaque a, voluptatibus dolorum iusto nesciunt possimus! Deleniti at sunt tempore.
                Repellendus dignissimos nobis ea rerum! Praesentium repudiandae, pariatur earum dolores, beatae odit voluptates molestiae placeat nisi consequuntur consequatur adipisci tenetur necessitatibus autem aliquam modi cumque dolorum repellat? Ab, quibusdam sed?</p>
            </div>
            <!-- /.characteristics__content -->
        </div>
        <div class="tab-pane fade" id="news-tab-pane" role="tabpanel" aria-labelledby="news-tab" tabindex="0">
            <div class="characteristics__content">
                <a href="#" class="news__slider-item">
                    <div class="news__slider-item--top">
                        <img src="./assets/img/news-1.png" alt="">
                        <div class="news__slider-item--date">21.01.2020</div>
                    </div>
                    <span class="news__slider-item--text">Обзор механического бура Elitech БМ 52 ЕН</span>
                </a>
                <a href="#" class="news__slider-item">
                    <div class="news__slider-item--top">
                        <img src="./assets/img/news-2.png" alt="">
                        <div class="news__slider-item--date">21.01.2020</div>
                    </div>
                    <span class="news__slider-item--text">Обзор зарядных и пуско-зарядных устройств на примере модельного ряда</span>
                </a>
                <a href="#" class="news__slider-item">
                    <div class="news__slider-item--top">
                        <img src="./assets/img/news-3.png" alt="">
                        <div class="news__slider-item--date">21.01.2020</div>
                    </div>
                    <span class="news__slider-item--text">Дизельные электростанции Elitech ДЭС 5500 ЕМК | ДЭС 8000 ЕМК</span>
                </a>
            </div>
            <!-- /.characteristics__content -->
        </div>
        <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">
            <div class="characteristics__content">
                <a href="#" class="video__slider-item">
                    <div class="video__slider-item--top">
                        <img src="./assets/img/video-img-1.png" alt="">
                        <div class="video__slider-item--date">21.01.2020</div>
                    </div>
                    <span class="video__slider-item--text">Обзор механического бура Elitech БМ 52 ЕН</span>
                </a>
                <a href="#" class="video__slider-item">
                    <div class="video__slider-item--top">
                        <img src="./assets/img/video-img-2.png" alt="">
                        <div class="video__slider-item--date">21.01.2020</div>
                    </div>
                    <span class="video__slider-item--text">Обзор зарядных и пуско-зарядных устройств на примере модельного ряда</span>
                </a>
                <a href="#" class="video__slider-item">
                    <div class="video__slider-item--top">
                        <img src="./assets/img/video-img-3.png" alt="">
                        <div class="video__slider-item--date">21.01.2020</div>
                    </div>
                    <span class="video__slider-item--text">Дизельные электростанции Elitech ДЭС 5500 ЕМК | ДЭС 8000 ЕМК</span>
                </a>
            </div>
            <!-- /.characteristics__content -->
        </div>
        <div class="tab-pane fade" id="service-tab-pane" role="tabpanel" aria-labelledby="service-tab" tabindex="0">
            <div class="characteristics__content-small">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, libero minus, blanditiis inventore consequatur adipisci aut ex sint magni facere placeat voluptate atque mollitia! Commodi odio illum neque delectus dolor?
                Corporis nihil alias libero expedita dolores tempora placeat quis tempore architecto! In velit eos nihil obcaecati odio, odit voluptates eaque a, voluptatibus dolorum iusto nesciunt possimus! Deleniti at sunt tempore.
                Repellendus dignissimos nobis ea rerum! Praesentium repudiandae, pariatur earum dolores, beatae odit voluptates molestiae placeat nisi consequuntur consequatur adipisci tenetur necessitatibus autem aliquam modi cumque dolorum repellat? Ab, quibusdam sed?</p>
            </div>
            <!-- /.characteristics__content -->
        </div>
        <div class="tab-pane fade" id="document-tab-pane" role="tabpanel" aria-labelledby="document-tab" tabindex="0">
            <div class="characteristics__content-small">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, libero minus, blanditiis inventore consequatur adipisci aut ex sint magni facere placeat voluptate atque mollitia! Commodi odio illum neque delectus dolor?
                Corporis nihil alias libero expedita dolores tempora placeat quis tempore architecto! In velit eos nihil obcaecati odio, odit voluptates eaque a, voluptatibus dolorum iusto nesciunt possimus! Deleniti at sunt tempore.
                Repellendus dignissimos nobis ea rerum! Praesentium repudiandae, pariatur earum dolores, beatae odit voluptates molestiae placeat nisi consequuntur consequatur adipisci tenetur necessitatibus autem aliquam modi cumque dolorum repellat? Ab, quibusdam sed?</p>
            </div>
            <!-- /.characteristics__content -->
        </div>
        <div class="tab-pane fade" id="dealers-tab-pane" role="tabpanel" aria-labelledby="dealers-tab" tabindex="0">
            
            <div class="product-dealers">
                <div class="product-dealers__item d-flex align-items-center justify-content-between">
                    <div class="product-dealers__name"> ООО "МАРК"</div>
                    <div class="product-dealers__count"> 20 шт.</div>
                    <div class="product-dealers__btn"><button class="btn btn--red" data-src="#quick-order" data-fancybox>Узнать цену</button></div>
                </div>
                <div class="product-dealers__item d-flex align-items-center justify-content-between">
                    <div class="product-dealers__name"> ООО "МАРК"</div>
                    <div class="product-dealers__count">Под заказ</div>
                    <div class="product-dealers__btn"><button class="btn btn--red" data-src="#quick-order" data-fancybox>Узнать цену</button></div>
                </div>
                <div class="product-dealers__item d-flex align-items-center justify-content-between">
                    <div class="product-dealers__name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, laboriosam.</div>
                    <div class="product-dealers__count"> 20 шт.</div>
                    <div class="product-dealers__btn"><button class="btn btn--red" data-src="#quick-order" data-fancybox>Узнать цену</button></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="quick-order" class="modal" style="display: none;">
    <div class="modal__inner">
        <h4 class="modal__title">Быстрый заказ</h4>
        <form onsubmit="return false;">

            <input type="hidden" name="dealer_id" value="36">
            <input type="hidden" name="offer_id" value="212154">

            <div class="form__body">
                <div class="form__block">
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Имя*</label>
                            <input class="form__input  form__control" type="text" name="name">
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Телефон</label>
                            <input class="form__input form__control" type="tel" name="phone">
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">E-mail*</label>
                            <input class="form__input  form__control" type="email" name="email" required="">
                        </div>
                    </div>
                    <div class="form__row flex-column d-flex">
                        <label class="form__label">Кол-во</label>
                        <div class="counter d-flex cart__count-counter">
                            <button type="button" class="cart__count-counterBtn cartMinus">-</button>
                            <input type="text" name="quantity" class="cart__count-counterInput" value="1" data-min="1" data-max="9999">
                            <button type="button" class="cart__count-counterBtn cartPlus">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__row mt-20px">
                <div class="form__group">
                    <div class="form__checkboxes">
                        <div class="form__checkbox">
                            <input type="checkbox" id="agreeDealerQuickOrder" name="agree" checked="" class="custom-checkbox">
                            <label for="agreeDealerQuickOrder"><span>Я принимаю условия <a class="link" href="#" target="_blank">пользовательского соглашения</a> и даю свое согласие на обработку моей персональной информации в условиях, определённых в нем</span></label>
                        </div>
                    </div>
                </div>
            </div>

            <p class="error___p"></p>

            <div class="form__buttons">
                <div class="form__row">
                    <div class="form__group  form__group--buttons">
                        <button type="button" class="form__btn btn btn--secondary dealerQuickOrderButton to___process">Отправить</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
