<section class="section comments__section">
    <div class="section__header">
        <h1 class="section__header-subtitle">Отзывы на <span>Дрель-шуруповерт ударную ДА 18УБЛ2 (Е2201.002.00)</span></h1>
    </div>
    <div class="comments__banner d-flex">
        <div class="comments__banner-left">
            <div class="comments__banner-count">4</div>
            <div class="comments__banner-stars d-flex align-items-center">
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
            </div>
            <div class="comments__banner-text">На основании <br> <span>27</span> отзывов</div>
        </div>
        <div class="comments__banner-right">
            <div class="comments__banner-row d-flex align-items-center">
                <div class="comments__banner-number">5</div>
                <div class="comments__banner-line">
                    <div class="progress"></div>
                </div>
                <div class="comments__banner-percent">60%</div>
            </div>
            <div class="comments__banner-row d-flex align-items-center">
                <div class="comments__banner-number">4</div>
                <div class="comments__banner-line">
                    <div class="progress"></div>
                </div>
                <div class="comments__banner-percent">20%</div>
            </div>
            <div class="comments__banner-row d-flex align-items-center">
                <div class="comments__banner-number">3</div>
                <div class="comments__banner-line">
                    <div class="progress"></div>
                </div>
                <div class="comments__banner-percent">0%</div>
            </div>
            <div class="comments__banner-row d-flex align-items-center">
                <div class="comments__banner-number">2</div>
                <div class="comments__banner-line">
                    <div class="progress"></div>
                </div>
                <div class="comments__banner-percent">0%</div>
            </div>
            <div class="comments__banner-row d-flex align-items-center">
                <div class="comments__banner-number">1</div>
                <div class="comments__banner-line">
                    <div class="progress"></div>
                </div>
                <div class="comments__banner-percent">20%</div>
            </div>
        </div>
    </div>
    <div class="comments__btn">
        <button type="button" class="btn btn--red">Оставить отзыв</button>
    </div>
    <div class="comments__items">
        <div class="comments__filter d-flex justify-content-between align-items-center">
            <div class="comments__filter-left"><span>27</span> отзывов</div>
            <div class="comments__filter-right d-flex">
                <div class="comments__filter-label">Сортировать по:</div>
                <div class="comments__filter-dates">По дате</div>
                <div class="comments__filter-mark">По оценкам</div>
            </div>
        </div>
        <div class="comments__item-row">
            <div class="comments__row-header">
                <div class="comments__row-name">Татьяна</div>
                <div class="comments__row-date">12.02.2020</div>
            </div>
            <div class="comments__row-stars d-flex">
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
            </div>
            <div class="comments__row-text">Хорошее качество, понравилась</div>
        </div>
        <div class="comments__item-row">
            <div class="comments__row-header">
                <div class="comments__row-name">Сергей</div>
                <div class="comments__row-date">11.02.2020</div>
            </div>
            <div class="comments__row-stars d-flex">
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
            </div>
            <div class="comments__row-text">Повесил сразу на стену, потому как дети – шутка в семье опасная и не глядят, что телик новый и крутой. По характеристикам вполне достойный. Отличное изображение и звук. Качество фул эйч ди сразу заметно. Шустренько с интернетом связывается, с ютьюба смотрел, пока ни разу ничего не зависало. Такой телик само то, слишком дорогой и навороченный с 4к мне кажется не к чему, фильмов-то таких еще мало, чего ж переплачивать. Пробовал через смартфон управлять, и приложение нашел, но что-то этот Самсунг с моим мобильником Сони не хочет дружить.</div>
            <div class="comments__answer">
                <div class="comments__answer-name">Elitech-tools</div>
                <div class="comments__row-text">Нам очень приятно, что Вы воспользовались услугами нашего магазина и остались довольны! Спасибо Вам большое, что выбрали именно нас! С уважением, Elitech-tools!</div>
            </div>
        </div>
        <div class="comments__item-row">
            <div class="comments__row-header">
                <div class="comments__row-name">Ольга</div>
                <div class="comments__row-date">02.02.2020</div>
            </div>
            <div class="comments__row-stars d-flex">
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
            </div>
            <div class="comments__row-text">Отличный телевизор , только для меня звук не громкий ... картинка отличная , смарт летает ... советую</div>
            <div class="comments__row-images d-flex align-items-center">
                <img src="./assets/img/comments-img1.png" alt="">
                <img src="./assets/img/comments-img2.png" alt="">
            </div>
        </div>
        <div class="comments__item-row">
            <div class="comments__row-header">
                <div class="comments__row-name">Сергей</div>
                <div class="comments__row-date">01.02.2020</div>
            </div>
            <div class="comments__row-stars d-flex">
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review active">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
                <div class="review">
                    <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
                </div>
            </div>
            <div class="comments__row-text">Все просто отлично! Получился нам подарок к НГ, со скидкой очень приличный и большой, и Самсунг все-таки! Как раз на выходных было время оценить все его возможности. Кино смотрели прямо с интернета, ну тут качество картинки зависит от качества фильма. С аналоговых каналов некоторый передачи идут в HD, тут видны все морщинки на лице ведущих и каждый волосок. А большинство еще не дотянулись, поэтому просто картинка ярче, крупнее. Пробовали с сыном приставку подключать, конечно, разница с монитором космическая, интернет вполне вытягивает (только мама наша быстро пресекла такое удовольствие).</div>
            <div class="comments__row-images d-flex align-items-center">
                <img src="./assets/img/comments-img1.png" alt="">
                <img src="./assets/img/comments-img2.png" alt="">
            </div>
            <div class="comments__answer">
                <div class="comments__answer-name">Elitech-tools</div>
                <div class="comments__row-text">Нам очень приятно, что Вы воспользовались услугами нашего магазина и остались довольны! Спасибо Вам большое, что выбрали именно нас! С уважением, Elitech-tools!</div>
            </div>
        </div>
        <div class="comments__item-showmore">
            <button type="button" class="comments__showmore-btn">Показать все отзывы</button>
        </div>
    </div>
</section>