<div class="compare__item swiper-slide">
    <div class="compare__item-img">
        <img src="@@img" alt="">
    </div>
    <div class="compare__item-name">@@name</div>
    <div class="compare__item-reviews">
        <div class="review active">
            <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
        </div>
        <div class="review active">
            <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
        </div>
        <div class="review active">
            <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
        </div>
        <div class="review active">
            <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
        </div>
        <div class="review">
            <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
        </div>
        <div class="reviews__count">27 отзывов</div>
    </div>
    <a href="#" class="btn btn--red compare__item-link">Где купить (10)</a>
    <ul class="compare__characteristics">
        <li class="compare__characteristics-item">
            <div class="compare__characteristics-wrapper">
                <div class="compare__characteristics-name">Мощность</div>
                <div class="compare__characteristics-value">@@char1</div>
            </div>
            <div class="compare__characteristics-icon">
                <svg width="20" height="20"><use xlink:href="/assets/img/icons/icons.svg#info"></use></svg>
                <div class="compare__characteristics-tooltip">скалярная физическая величина, равная в
                    общем случае скорости изменения, преобразования, передачи или потребления энергии
                    системы</div>
            </div>
        </li>
        <li class="compare__characteristics-item">
            <div class="compare__characteristics-wrapper">
                <div class="compare__characteristics-name">Размер подошвы</div>
                <div class="compare__characteristics-value">@@char2</div>
            </div>
            <div class="compare__characteristics-icon">
                <svg width="20" height="20"><use xlink:href="/assets/img/icons/icons.svg#info"></use></svg>
                <div class="compare__characteristics-tooltip">скалярная физическая величина, равная в
                    общем случае скорости изменения, преобразования, передачи или потребления энергии
                    системы</div>
            </div>
        </li>
        <li class="compare__characteristics-item">
            <div class="compare__characteristics-wrapper">
                <div class="compare__characteristics-name">Число оборотов</div>
                <div class="compare__characteristics-value">@@char3</div>
            </div>
            <div class="compare__characteristics-icon">
                <svg width="20" height="20"><use xlink:href="/assets/img/icons/icons.svg#info"></use></svg>
                <div class="compare__characteristics-tooltip">скалярная физическая величина, равная в
                    общем случае скорости изменения, преобразования, передачи или потребления энергии
                    системы</div>
            </div>
        </li>
        <li class="compare__characteristics-item">
            <div class="compare__characteristics-wrapper">
                <div class="compare__characteristics-name">Амплитуда колебаний</div>
                <div class="compare__characteristics-value">@@char4</div>
            </div>
            <div class="compare__characteristics-icon">
                <svg width="20" height="20"><use xlink:href="/assets/img/icons/icons.svg#info"></use></svg>
                <div class="compare__characteristics-tooltip">скалярная физическая величина, равная в
                    общем случае скорости изменения, преобразования, передачи или потребления энергии
                    системы</div>
            </div>
        </li>
        <li class="compare__characteristics-item">
            <div class="compare__characteristics-wrapper">
                <div class="compare__characteristics-name">Частота колебаний</div>
                <div class="compare__characteristics-value">@@char5</div>
            </div>
            <div class="compare__characteristics-icon">
                <svg width="20" height="20"><use xlink:href="/assets/img/icons/icons.svg#info"></use></svg>
                <div class="compare__characteristics-tooltip">скалярная физическая величина, равная в
                    общем случае скорости изменения, преобразования, передачи или потребления энергии
                    системы</div>
            </div>
        </li>
    </ul>
</div>