<section class="section company__section text__section">
    <div class="row align-items-center company__content">
        <div class="col-lg-6 text__section-content">
            <h1>О компании</h1>
            <p>Наша компания гарантирует безопасность, высокую эффективность и производительность, разумные цены, качественную работу при максимальных нагрузках. В наше время особо пользуется спросом современная техника, которая обладает высокой надежностью и имеет стильный дизайн. Оборудование Elitech, это эффективность, достойная цена, безупречный внешний вид и высокая производительность.</p>
            <p>Мы постоянно расширяем ассортимент и регулярно выводим на рынок новые, еще более конструктивные модели. При необходимости ремонта сварочного инвертора, бензогенератора, стабилизатора напряжения и прочего оборудования, приобретенного у нас, в самый короткий срок оно будет отремонтировано. Наши продавцы-консультанты расскажут вам о ближайшем сервисном центре.</p>
        </div>
        <div class="col-lg-6">
            <img class="company__img" src="./assets/img/imgCompany.png" alt="">
        </div>
    </div>
</section>