<div class="product">
    
    <div class="product-slider__wrapper product__images" >

        <img src="https://imgholder.ru/500x500/8493a8/adb9ca&text=1" class="product__images-only"/>
        <!-- <div thumbsSlider="" class="product__slider swiper">
            <div class="swiper-wrapper">
                <div class="product__slider-item--img swiper-slide">
                    <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=1" alt="">
                </div>
                <div class="product__slider-item--img swiper-slide">
                    <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=2" alt="">
                </div>
                <div class="product__slider-item--img swiper-slide">
                    <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=3" alt="">
                </div>
                <div class="product__slider-item--video swiper-slide">
                    <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=4" alt="">
                </div>
                <div class="product__slider-item--img swiper-slide">
                    <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=5" alt="">
                </div>
            </div>
            <div class="product__info-prev swiper-button-prev"></div>
            <div class="product__info-next swiper-button-next"></div>
        </div>
    

        <div class="swiper product__img">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://imgholder.ru/500x500/8493a8/adb9ca&text=1" />
                </div>
                <div class="swiper-slide">
                    <img src="https://imgholder.ru/500x500/8493a8/adb9ca&text=2" />
                </div>
                <div class="swiper-slide">
                    <img src="https://imgholder.ru/500x500/8493a8/adb9ca&text=3" />
                </div>
                <div class="swiper-slide">
                    <img src="https://imgholder.ru/500x500/8493a8/adb9ca&text=4" />
                </div>
                <div class="swiper-slide">
                    <img src="https://imgholder.ru/500x500/8493a8/adb9ca&text=5" />
                </div>
            </div>
        </div> -->
    </div>

    <div class="product__about">
        <div class="product__about-name">Дрель-шуруповерт ударная ДА 18УБЛ2 (Е2201.002.01)</div>
        <div class="product__about-articul d-flex">Артикул: <span>EL123456</span></div>
        <div class="product__about-reviews d-flex align-items-center">
            <div class="review active">
                <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
            </div>
            <div class="review active">
                <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
            </div>
            <div class="review active">
                <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
            </div>
            <div class="review active">
                <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
            </div>
            <div class="review">
                <svg class="review__icons" width="17" height="17"><use xlink:href="/assets/img/icons/icons.svg#star"></use></svg>
            </div>
            <div class="reviews__count">27 отзывов</div>
        </div>
        <div class="product__about-advantages d-flex flex-wrap">
            <img src="./assets/img/svg/product-icon1.svg" alt="">
            <img src="./assets/img/svg/product-icon2.svg" alt="">
            <img src="./assets/img/svg/product-icon3.svg" alt="">
            <img src="./assets/img/svg/product-icon4.svg" alt="">
            <img src="./assets/img/svg/product-icon5.svg" alt="">
            <img src="./assets/img/svg/product-icon6.svg" alt="">
            <img src="./assets/img/svg/product-icon7.svg" alt="">
            <img src="./assets/img/svg/product-icon8.svg" alt="">
            <img src="./assets/img/svg/product-icon9.svg" alt="">
            <img src="./assets/img/svg/product-icon10.svg" alt="">
            <img src="./assets/img/svg/product-icon11.svg" alt="">
        </div>
    </div>
    <div class="product__controls">
        <div class="product__btns d-flex">
            <div class="product__btns-item">
                <a href="#" class="product__btns-link d-flex">
                    <div class="product__btns-icon">
                      <svg fill="#828282" width="20" height="20">
                        <use xlink:href="/assets/img/icons/icons.svg#favourites"></use>
                      </svg>
                    </div>
                    <span class="product__btns-text">В избранное</span>
                </a>
            </div>
            <div class="product__btns-item">
                <a href="#" class="product__btns-link d-flex">
                    <div class="product__btns-ic">
                      <svg fill="#828282" width="20" height="20">
                        <use xlink:href="/assets/img/icons/icons.svg#comparison"></use>
                      </svg>
                    </div>
                    <span class="product__btns-text">Сравнить</span>
                </a>
            </div>
        </div>
        <div class="product__price d-flex align-items-end">
            <div class="product__price-value">9 000 р.</div>
            <strike class="product__price-strike">9 400 р.</strike>
        </div>
        <div class="product__buttons">
            <a href="#" class="btn product__buttons-link mb-2 product-by1cklick">Быстрый заказ</a>

            <div class="d-flex">
                <a href="#" class="btn btn--red add-cart">В корзину</a>
                <div class="counter d-flex cart__count-counter" style="display: none !important;">
                    <button type="button" class="cart__count-counterBtn cartMinus" tabindex="0">-</button>
                    <input type="text" name="quantity" class="cart__count-counterInput" value="1" data-min="1" data-max="9999" tabindex="0">
                    <button type="button" class="cart__count-counterBtn cartPlus" tabindex="0">+</button>
                </div>
            </div>
        </div>

        <div class="product-items__availability">
            <ul>
                <li>В вашем городе: 3 шт.</li>
                <li>На складе: 62 шт.</li>
                <li>Курьером: завтра, от 100р.</li>
                <li>Самовывоз: сегодня, из 1 магазина</li>
            </ul>
        </div>
    </div>
</div>


