<section class="section stock__section">
    <div class="section__header d-flex justify-content-between align-items-center">
        <h1 class="section__header-title">Акции</h1>
        <a href="#" class="section__header-link">Все акции</a>
    </div>
    <div class="stock__slider swiper">
        <div class="swiper-wrapper">
            <div class="stock__slider-item swiper-slide">
                <a href="#" class="stock__link">
                    <img src="https://imgholder.ru/400x160/8493a8/adb9ca&text=400x160" alt="">
                    <div class="stock__slider-item--text">
                        <div>Рассрочка 0%</div>
                        <span>На электротехнику</span>
                    </div>
                </a>
            </div>
            <div class="stock__slider-item swiper-slide">
                <a href="#" class="stock__link">
                    <img src="./assets/img/stock-slider-2.png" alt="">
                    <div class="stock__slider-item--text">
                        <div>Скидки до 30%</div>
                        <span>На все болгарки</span>
                    </div>
                </a>
            </div>
            <div class="stock__slider-item swiper-slide">
                <a href="#" class="stock__link">
                    <img src="./assets/img/stock-slider-2.png" alt="">
                    <div class="stock__slider-item--text">
                        <div>Скидки до 30%</div>
                        <span>На все болгарки</span>
                    </div>
                </a>
            </div>

            <div class="stock__slider-item swiper-slide">
                <a href="#" class="stock__link">
                    <img src="./assets/img/stock-slider-2.png" alt="">
                    <div class="stock__slider-item--text">
                        <div>Скидки до 30%</div>
                        <span>На все болгарки</span>
                    </div>
                </a>
            </div>

            <div class="stock__slider-item swiper-slide">
                <a href="#" class="stock__link">
                    <img src="./assets/img/stock-slider-2.png" alt="">
                    <div class="stock__slider-item--text">
                        <div>Скидки до 30%</div>
                        <span>На все болгарки</span>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
    <div class="slider__arrow stock__next">
        <svg width="65%" height="22">
            <use xlink:href="./assets/img/svg/arrow-card.svg#arrow">
        </svg>
    </div>
    <div class="slider__arrow stock__prev">
        <svg width="65%" height="22">
            <use xlink:href="./assets/img/svg/arrow-card.svg#arrow">
        </svg>
    </div>
    <div class="swiper-pagination stock__pagination d-flex justify-content-center align-items-center"></div>
</section>