<div class="row">
  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Дрели-шурупо-верты ударные аккумуляторные</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Пылесос</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Дрели-шуруповерты аккумуляторные</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Угловая шлифмашина</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Мульти-функциональный инструмент</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Миксеры строительные</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Перфораторы</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Пила сабельная</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Опрыскиватель садовый</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Пила цепная</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Газонокосилка</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Электропривод</div>
      </a>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-xl-3 mb-3">
    <div class="sub-category__item">
      <a href="#" class="sub-category__link d-flex align-items-center">
        <div class="sub-category__images">
          <img src="https://imgholder.ru/100x100/8493a8/adb9ca&text=100x100" alt="">
        </div>
        <div class="sub-category__title">Принадлежности для аккум. инструмента</div>
      </a>
    </div>
  </div>
</div>