<section class="section video__section">
    <div class="section__header d-flex justify-content-between align-items-center">
        <h1 class="section__header-title">Видео</h1>
        <a href="#" class="section__header-link">Все видео</a>
    </div>
    <div class="video__slider swiper">
        <div class="swiper-wrapper">
            <a href="#" class="video__slider-item swiper-slide">
                <div class="video__slider-item--top">
                    <img src="./assets/img/video-img-1.png" alt="">
                    <div class="video__slider-item--date">21.01.2020</div>
                </div>
                <span class="video__slider-item--text">Обзор механического бура Elitech БМ 52 ЕН</span>
            </a>
            <a href="#" class="video__slider-item swiper-slide">
                <div class="video__slider-item--top">
                    <img src="./assets/img/video-img-2.png" alt="">
                    <div class="video__slider-item--date">21.01.2020</div>
                </div>
                <span class="video__slider-item--text">Обзор зарядных и пуско-зарядных устройств на примере модельного ряда</span>
            </a>
            <a href="#" class="video__slider-item swiper-slide">
                <div class="video__slider-item--top">
                    <img src="./assets/img/video-img-3.png" alt="">
                    <div class="video__slider-item--date">21.01.2020</div>
                </div>
                <span class="video__slider-item--text">Дизельные электростанции Elitech ДЭС 5500 ЕМК | ДЭС 8000 ЕМК</span>
            </a>
        </div>
    </div>
    <div class="slider__arrow video__slider-next">
        <svg width="65%" height="22">
            <use xlink:href="./assets/img/svg/arrow-card.svg#arrow">
        </svg>
    </div>
    <div class="slider__arrow video__slider-prev">
        <svg width="65%" height="22">
            <use xlink:href="./assets/img/svg/arrow-card.svg#arrow">
        </svg>
    </div>
    <div class="swiper-pagination video__pagination d-flex justify-content-center align-items-center"></div>
</section>