<section class="section where__section">
    <div class="section__header">
        <h2 class="section__header-subtitle">Где купить <span>Дрель-шуруповерт ударная ДА 18УБЛ2 (Е2201.002.01)</span></h2>
    </div>
    <div class="where__content">
        <p>Elitech известен в России как динамичный и активно развивающийся бренд выпускающий продукцию европейского качества. Политика компании в области контроля качества является одной их приоритетных.</p>
        <p>До серийного производства продукция проходит многократное тестирование. Каждая линейка продукции состоит из сбалансированного ассортимента, способного удовлетворить потребности  от начинающих пользователей до продвинутых. Продуманная конструкция узлов обеспечивает долгий срок службы изделий и легкость их обслуживания. Современный дизайн и превосходная эргономика превращают любой рабочий процесс в удовольствие.</p>
    </div>
    <div class="where__btn-wrapper">
        <a href="#" class="btn btn--red where__btn">Адреса магазинов</a>
    </div>
</section>