.section-hero {
  margin-bottom: 50px;
}
.container-booking-offer {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}
.second-header {
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
}
