.section-services {
  margin-bottom: 50px;
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-cards-item {
  width: 570px;
  min-height: 330px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  background-image: url("../img/10.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.service-header {
  margin: 0;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
.service-cards :nth-child(2) .service-header{
  background-image: url("../img/15.png");
}
.service-cards :nth-child(3) .service-header{
  background-image: url("../img/12.png");
}
.service-cards :nth-child(4) .service-header{
  background-image: url("../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png");
}
.service-yellow-link {
  padding: 0 20px 0 40px;
  color: #cc9933;
  font-weight: 500;
  font-size: 22px;
  background-image: url("../img/Прямоугольник\ 2\ копия\ 10.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
}
.service-section-description {
  max-width: 570px;
  padding: 5px 130px 0 40px;
  margin: 0;
  line-height: 2;
}
