html {
  box-sizing: border-box; /*Ширина и высота элементов теперь рассчитывается от границ блока, а не контента*/
}
*,
*:before,
*:after {
  box-sizing: inherit; /*Задаёт каждому элементу, перед ним и после него наследование бокс сайзинга от его материнского элемента*/
}
/*Недостающие свойства добавлены*/
body {
  min-width: 1200px;
  margin: 0; /*Убирает отступы*/
  font-family: "Muller", "Arial", sans-serif; /*Задаёт шрифт телу страницы. Если необходимый шрифт по каким-то ричинам не загружается, то вместо него используется тот, который записан после него, и так далее*/
  font-size: 16px; /*Задаёт изначальный размер шрифта. Пишется наиболее часто встречающийся размер на странице. Это нужно, чтобы по 1к раз не писать размер шрифта в CSS*/
  font-weight: 400;
  line-height: 1;
  background-color: #f1f1f1; /*Цвет фона*/
  color:#000000; /*То же, что и font-size, только для цвета шрифта*/
}
.container {
  width: 1200px; /*Максимальная ширина контейнера*/
  margin: 0 auto; /*Нулевой маргин сверху и снизу, выравнивание контейнера по горизонтали*/
  padding-right: 15px; /*Паддинг слева*/
  padding-left: 15px; /*Паддинг справа*/
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; /*Убирает точки в ненумерованных списках*/
}
.p-reset {
  display: block;
  margin: 0;
}
a {
  text-decoration: none; /*Убирает изначальную декорацию ссылок*/
  color: inherit; /*Ссылка наследует цвет текста от родительского элемента*/
}
img {
  max-width: 100%; /*Устанавливает изначальный размер контентного изображения.*/
}
.visually-hidden { /*Импортанты заданы для того, чтобы другие стили не перекрыли .visually-hidden*/
  position: absolute !important; /*Элемент позиционирован так, что не занимает места в потоке*/
  clip: rect(1px 1px 1px 1px); /*Выставляет облать позиционирования элемента со сторонами, равными 1 px (для IE до версии 7.0)*/
  clip: rect(1px, 1px, 1px, 1px); /*То же самое для остальных браузеров и IE от 7.0*/
  width: 1px !important; /*Ширина блока*/
  height: 1px !important; /*Высота блока*/
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden; /*Всё, что выходит за заданные пределы, будет скрыто*/
}
