<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="footer-top__list">
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">О бренде</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Продукция</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Сервис</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Где купить</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Новинки</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Акции</a>
                        </li>

                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">История</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Новости</a>
                        </li>
                        <li class="footer-top__list--item">
                            <a href="#" class="footer-top__list--link">Медиа</a>
                        </li>
                    </ul>
                </div>

                <div class="col d-flex justify-content-between">
                    <div class="footer-contact">
                        <div class="footer-top__adres">Москва, Открытое шоссе, д.12, стр.35</div>
                        <a href="#" class="footer-top__adres-link">Адрес на карте</a>
                    </div>
                    <div class="footer-contact">
                        <span class="footer-top__tel">Тел.: <a href="tel:88001005157">8 (800) 100-51-57</a></span>
                        <a href="mailto:info@elitech-tools.ru" class="footer-top__mail">info@elitech-tools.ru</a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="footer-top__info d-fex">
                    <a href="#">Политика конфиденциальности</a>
                    <a href="#">Юридическая информация</a>
                </div>
                <ul class="footer-top__social d-flex">
                    <li>
                        <a href="#" class="footer-top__social--link">
                            <svg fill="#FFF" width="26" height="26">
                                <use xlink:href="/assets/img/icons/icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer-top__social--link">
                            <svg fill="#FFF" width="26" height="26">
                                <use xlink:href="/assets/img/icons/icons.svg#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#" class="footer-top__social--link">
                            <svg class="logo__images" width="26" height="26">
                                <use xlink:href="/assets/img/icons/icons.svg#twitter"></use>
                            </svg>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__text">&copy;&nbsp;ELITECH-TOOLS.RU 2020. Интернет-сайт elitech-tols.ru носит исключительно информационный характер и&nbsp;не&nbsp;является публичной офертой, определяемой положениями Статьи 437 (2) Гк&nbsp;РФ. Присланное по&nbsp;e-mail сообщение, содержащее копию заполненной формы заявки на&nbsp;сайте, не&nbsp;является ответом на&nbsp;сообщение потребителя или подтверждением заказа со&nbsp;стороны владельцев сайта.</div>
        </div>
    </div>
</footer>


<div class="notice-surface notice-surface--right" style="display: none;"><div class="notice-surface__inner"></div></div>