<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="d-flex justify-content-between flex-wrap">
        <ul class="header-nav d-flex align-items-center">
          <li class="header-nav__item"><a href="#" class="header-nav__link">О бренде</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Сервис</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Где купить</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Новинки</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Контакты</a></li>
        </ul>
  
        <a href="#" class="location_link">Москва</a>
      </div>
      
    </div>
  </div>
  <!-- /.header__top -->
  <div class="header__center">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center">
          <a href="#">Сотрудничество</a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div class="logo">
            <a href="" class="logo__link">
              <span>купи</span>
              <svg class="logo__images" width="150" height="84">
                <use xlink:href="/assets/img/icons/icons.svg#logo"></use>
              </svg>
              <span>здесь</span>
            </a>
          </div>
        </div>
        <div class="col justify-content-between d-flex flex-column align-items-end">
          <ul class="nav d-flex align-items-center header-user">
            <li class="header-user__item"><a href="#" class="header-user__link">Вход</a></li>
            <li class="header-user__item"><a href="#" class="header-user__link">Регистрация</a></li>
          </ul>
    
          <a href="#">Гарантийный талон</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.header__center -->

  <div class="header__bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          @@include('menu.html')
        </div>


        <div class="col d-flex align-items-center justify-content-between">
          <a href="#" class="header__sale">
            <svg fill="#E31F23" class="header__sale-icons" width="20" height="20">
              <use xlink:href="/assets/img/icons/icons.svg#sale"></use>
            </svg>
            <span>Акции</span>
          </a>

          <form action="#" class="header-search search">
            <div class="search__wrapper">
    
              <input autocomplete="off" type="text" name="text" placeholder="Поиск" class="search__input">
    
              <button type="submit" class="search__btn">
                <svg class="search__btn-icons" width="19" height="19">
                  <use xlink:href="/assets/img/icons/icons.svg#search"></use>
                </svg>
              </button>
    
              <div class="search__list" id="search_list_scrol"></div>
            </div>
          </form>

          <div class="d-flex align-items-center position-relative">
            <div class="header-personal-btn__item header__compare">
              <a href="#" class="compare__link header-personal-btn__link d-flex">
                <div class="header-personal-btn__icons compare__icons">
                  <svg class="" fill="#E31F23" width="20" height="20">
                    <use xlink:href="/assets/img/icons/icons.svg#comparison"></use>
                  </svg>
                  <span class="header-personal-btn__count compare__count">0</span>
                </div>
                <span class="header-personal-btn__label compare__label">Сравнение</span>
              </a>
              <div class="popup__compare popup hide" style="height: 0; opacity: 0; box-shadow: 0;">
                <ul class="popup__list">
                  <li class="popup__list-item">
                    <a href="#" class="popup__list-link">
                      <div class="popup__item-left">
                        <img src="https://imgholder.ru/90x160/8493a8/adb9ca&amp;text=50x50" alt="">
                      </div>
                      <div class="popup__item-right">
                        <div class="popup__item-text">Дрель-шуруповерт ударная ДА 18УБЛ2 (Е2201.002.00)</div>
                        <div class="popup__item-price">8 000<span>р.</span></div>
                      </div>
                    </a>
                    <div class="popup__item-close"><span></span><span></span></div>
                  </li>
                </ul>
                <a class="popup__link">Перейти к сравнению</a>
              </div>
            </div>
            <!-- /.header__compare -->
    
            <div class="header-personal-btn__item header__favorites">
              <a href="#" class="favorites__link header-personal-btn__link d-flex">
                <div class="header-personal-btn__icons favorites__icons">
                  <svg class="" fill="#E31F23" width="20" height="20">
                    <use xlink:href="/assets/img/icons/icons.svg#favorites"></use>
                  </svg>
                  <span class="header-personal-btn__count favorites__count">0</span>
                </div>
                <span class="header-personal-btn__label favorites__label">Избранное</span>
              </a>
              <div class="popup__favorites popup hide" style="height: 0; opacity: 0; box-shadow: 0;">
                <ul class="popup__list">
                  <li class="popup__list-item">
                    <a href="#" class="popup__list-link">
                      <div class="popup__item-left">
                        <img src="https://imgholder.ru/90x160/8493a8/adb9ca&amp;text=50x50" alt="">
                      </div>
                      <div class="popup__item-right">
                        <div class="popup__item-text">Дрель-шуруповерт ударная ДА 18УБЛ2 (Е2201.002.00)</div>
                        <div class="popup__item-price">8 000<span>р.</span></div>
                      </div>
                    </a>
                    <div class="popup__item-close"><span></span><span></span></div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.header__favorites -->
    
            <div class="header-personal-btn__item header__cart">
              <a href="#" class="cart__link header-personal-btn__link d-flex">
                <div class="header-personal-btn__icons cart__icons">
                  <svg class="" fill="#E31F23" width="20" height="20">
                    <use xlink:href="/assets/img/icons/icons.svg#cart"></use>
                  </svg>
                  <span class="header-personal-btn__count cart__count">0</span>
                </div>
                <span class="header-personal-btn__label cart__label">Корзина</span>
              </a>
              <div class="popup__cart popup hide" style="height: 0; opacity: 0; box-shadow: 0;">
                <ul class="popup__list">
                  <li class="popup__list-item">
                    <a href="#" class="popup__list-link">
                      <div class="popup__item-left">
                        <img src="https://imgholder.ru/90x160/8493a8/adb9ca&amp;text=50x50" alt="">
                      </div>
                      <div class="popup__item-right">
                        <div class="popup__item-text">Дрель-шуруповерт ударная ДА 18УБЛ2 (Е2201.002.00)</div>
                        <div class="popup__item-price">8 000<span>р.</span></div>
                      </div>
                    </a>
                    <div class="popup__item-close"><span></span><span></span></div>
                  </li>
                </ul>
                <a class="popup__link">Перейти к оформлению</a>
              </div>
            </div>
            <!-- /.header__cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.header__bottom -->
</header>
