<div class="cd-dropdown-wrapper">
  <a class="cd-dropdown-trigger" href="#0">
    <div class="cd-dropdown-trigger__burger">
      <span class="cd-dropdown-trigger__burger-top"></span>
      <span class="cd-dropdown-trigger__burger-center"></span>
      <span class="cd-dropdown-trigger__burger-bottom"></span>
    </div>
    Каталог продукции
  </a>
  <nav class="cd-dropdown">
    <!-- <h2>Заголовок</h2> -->
    <a href="#0" class="cd-close">Закрыть</a>
    <ul class="cd-dropdown-content">
      <li class="has-children">
        <a href="#">Генераторы и мотопомпы</a>

        <ul class="cd-secondary-dropdown is-hidden">
          <li class="go-back"><a href="#0">Меню</a></li>
          <li class="see-all"><a href="#">Вся генераторы и мотопомпы</a></li>
          <li class="has-children">
            <!-- <a href="#">Аксессуары</a> -->

            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Генераторы и мотопомпы</a></li>
                   
              <li><a href="#">Мотопомпы бензиновые</a></li>
              <li><a href="#">Генераторы бензиновые 1-фазные</a></li>
              <li><a href="#">Генераторы бензиновые 3-фазные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
            </ul>
          </li>
        </ul> <!-- .cd-secondary-dropdown -->
      </li> <!-- .has-children -->

      <li class="has-children">
        <a href="#">Компрессоры</a>

        <ul class="cd-secondary-dropdown is-hidden">
          <li class="go-back"><a href="#0">Меню</a></li>
          <li class="see-all"><a href="#">Вся компрессоры</a></li>
          <li class="has-children">
            <!-- <a href="#">Аксессуары</a> -->

            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Компрессоры</a></li>
              <li><a href="#">Компрессоры масляные коаксиальные</a></li>
              <li><a href="#">Компрессоры безмасляные</a></li>
              <li ><a href="#">Компрессоры масляные ременные</a></li>
            </ul>
          </li>
        </ul> <!-- .cd-secondary-dropdown -->
      </li> <!-- .has-children -->

      <li class="has-children">
        <a href="#">Станки</a>

        <ul class="cd-secondary-dropdown is-hidden">
          <li class="go-back"><a href="#0">Меню</a></li>
          <li class="see-all"><a href="#">Вся станки</a></li>
          <li class="has-children">
            <!-- <a href="#">Аксессуары</a> -->

            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Принадлежности и расходные материалы</a></li>
   
              <li><a href="#">Принадлежности и для сварки</a></li>
              <li><a href="#">Масло моторное и смазочное</a></li>
              <li><a href="#">Графитовые щетки</a></li>
              <li><a href="#">Принадлежности для электроинструмента</a></li>
              <li><a href="#">Принадлежности для генераторов</a></li>
              <li><a href="#">Принадлежности для компрессоров</a></li>
              <li><a href="#">Принадлежности для насосов</a></li>
              <li><a href="#">Принадлежности и для сварки</a></li>
              <li><a href="#">Масло моторное и смазочное</a></li>
              <li><a href="#">Графитовые щетки</a></li>
              <li><a href="#">Принадлежности для электроинструмента</a></li>
              <li><a href="#">Принадлежности для генераторов</a></li>
              <li><a href="#">Принадлежности для компрессоров</a></li>
              <li><a href="#">Принадлежности для насосов</a></li>
            </ul>
          </li>
        </ul> <!-- .cd-secondary-dropdown -->
      </li> <!-- .has-children -->

      <li class="has-children">
        <a href="#">Генераторы и мотопомпы</a>

        <ul class="cd-secondary-dropdown is-hidden">
          <li class="go-back"><a href="#0">Меню</a></li>
          <li class="see-all"><a href="#">Вся генераторы и мотопомпы</a></li>
          <li class="has-children">
            <!-- <a href="#">Аксессуары</a> -->

            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Генераторы и мотопомпы</a></li>
                   
              <li><a href="#">Мотопомпы бензиновые</a></li>
              <li><a href="#">Генераторы бензиновые 1-фазные</a></li>
              <li><a href="#">Генераторы бензиновые 3-фазные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
            </ul>
          </li>
        </ul> <!-- .cd-secondary-dropdown -->
      </li> <!-- .has-children -->

      <li class="has-children">
        <a href="#">Генераторы и мотопомпы</a>

        <ul class="cd-secondary-dropdown is-hidden">
          <li class="go-back"><a href="#0">Меню</a></li>
          <li class="see-all"><a href="#">Вся генераторы и мотопомпы</a></li>
          <li class="has-children">
            <!-- <a href="#">Аксессуары</a> -->

            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Генераторы и мотопомпы</a></li>
                   
              <li><a href="#">Мотопомпы бензиновые</a></li>
              <li><a href="#">Генераторы бензиновые 1-фазные</a></li>
              <li><a href="#">Генераторы бензиновые 3-фазные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
              <li><a href="#">Мотопомпы дизельные</a></li>
            </ul>
          </li>
        </ul> <!-- .cd-secondary-dropdown -->
      </li> <!-- .has-children -->

      

      <li><a href="#">Страница 1</a></li>
      <li><a href="#">Страница 2</a></li>
      <li><a href="#">Страница 3</a></li>
    </ul> <!-- .cd-dropdown-content -->
  </nav> <!-- .cd-dropdown -->
</div> <!-- .cd-dropdown-wrapper -->