.fast-booking {
  display: flex;
  flex-direction: column;
  padding-right: 55px;
}
.fast-booking-input {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  min-height: 70px;
  width: 520px;
  color: #8d8a87;
  border: none;
  border-radius: 15px;
  background-color: var(--white-color);
}
.fast-booking-input::placeholder {
  padding-left: 20px;
}
.rooms {
  display: flex;
  align-items: center;
}
.room-search {
  max-width: 160px;
  padding: 25px;
  margin-right: 30px;
  color: var(--white-color);
  background-color: var(--decor-color);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: width, height ease 0.5s;
}
.room-search:hover {
  transform: scale(1.1, 1.1);
  transition: width, height ease 0.5s;
}
.offers-number {
  color: var(--decor-color);
}
