.footer-info-left {
  max-width: 300px;
  line-height: 32px;
}
.footer-info-center {
  max-width: 360px;
}
.black-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  min-height: 386px;
  padding: 40px 50px 0 50px;
  color: var(--white-color);
  background-color: #333333;
  background-image: url(../img/Слой\ 27\ копия.png);
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: 733px 155px;
  border-radius: 15px;
}
.footer-info-left p {
  margin: 0 auto 54px auto;
}
.footer-content-link {
  display: block;
  width: fit-content;
}
.footer-content-link::after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--decor-color);
  transition: width 0.5s ease-in-out;
}
.footer-content-link:hover::after,
.footer-content-link:active::after {
  width: 100%;
}
.footer-info-center p {
  margin: 0 auto 44px auto;
}
.footer-media {
  list-style-type: none;
}
.media-list {
  margin-bottom: 22px;
  background-image: url(../img/tripadvisor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: width, height ease 0.5s;
}
.media-link {
  display: block;
  width: 26px;
  height: 26px;
}
.media-list:hover {
  transform: scale(1.1, 1.1);
  transition: width, height ease 0.5s;
}
.footer-media :nth-child(2) {
  background-image: url(../img/twitter.svg);
}
.footer-media :nth-child(3) {
  background-image: url(../img/facebook.svg);
}
.footer-media :nth-child(4) {
  background-image: url(../img/social.svg);
}
.footer-media :nth-child(5) {
  background-image: url(../img/google-plus-social-logotype.svg);
}
