.upper-header {
  min-height: 110px;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 25px;
}
.header-tel-link {
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
  color: #666666;
  transition: color ease 0.5s;
}
.header-tel-link:hover {
  transition: color ease 0.5s;
  color: var(--decor-color);
}
.my-account {
  width: 145px;
  display: inline-block;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size:13px;
  background-position: top left;
  text-align: right;
}
.my-account::after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--decor-color);
  transition: width 0.5s ease-in-out;
}
.my-account:hover::after,
.my-account:focus::after {
  width: 100%;
}
.lower-header {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 50px;
  background-color: var(--white-color);
  border-radius: 15px;
}
.nav-list {
  display: flex;
}
.nav-link {
  color: #000000;
  transition: color ease 0.5s;
}
.nav-link:hover {
  transition: color ease 0.5s;
  color: var(--decor-color);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item:first-child {
  padding-left: 20px;
}
.search-panel {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  width: 360px;
  min-height: 50px;
  background-color:#f1f1f1;
  border-radius: 15px;
}
.search-panel-input {
  margin-left: 20px;
  width: 290px;
  min-height: 50px;
  color: #8d8a87;
  border: none;
  background-color: #f1f1f1;
}
.search-button {
  width: 25px;
  height: 25px;
  background-image: url("../img/search@0\,75x.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
.search-button:active {
  transform: scale(0.8, 0.8);
}
