.write-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 696px;
}
.write-us-container {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}
.write-us-input {
  min-height: 70px;
  min-width: 340px;
  margin-bottom: 23px;
  border-radius: 15px;
  border: none;
}
.write-us-input::placeholder {
  padding-left: 10px;
}
.write-us-input-message {
  height: 110px;
  width: 340px;
  resize: none;
}
.write-us-input-message::placeholder {
  padding-top: 20px;
}
.middle-header {
  padding: 0 20px;
  text-align: center;
}
.send {
  width: 340px;
  padding: 25px;
  color: var(--white-color);
  background-color: var(--decor-color);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: width, height ease 0.5s;
}
.send:hover {
  transform: scale(1.1, 1.1);
  transition: width, height ease 0.5s;
}
