.contacts-container {
  width: 472px;
  background-color: var(--white-color);
  border-radius: 15px;
}
.cutted {
  margin-top: 0;
}
.contacts-table {
  max-width: 385px;
  margin: auto;
  padding: 0;
  line-height: 24px;
  list-style-type: none;
}
.contacts-list {
  display: flex;
  border-bottom: 1px solid #666666;
  margin-bottom: 31px;
}
.contacts-list:first-child {
  padding-top: 45px;
}
.column-common {
  font-size: 22px;
  color: #666666;
  width: 147px;
  min-height: 10px;
  margin: 0 0 31px 0;
  font-weight: inherit;
}
.column-right {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  width: 238px;
}
.e-mails {
  color: #666666;
}
.button-cell {
margin-left: 44px;
padding-bottom: 44px;
}
.route {
  display: inline-block;
  max-width: 217px;
  padding: 23px 30px;
  font-weight: 700;
  color: var(--decor-color);
  background-color: var(--white-color);
  border: var(--decor-color) solid 1px;
  border-radius: 15px;
  transition: box-shadow ease 0.5s;
}
.route:hover {
  box-shadow: 0 0 5px 1px;
  transition: box-shadow ease 0.5s;
}
.tel-link {
  display: block;
  width: fit-content;
}
.tel-link::after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--decor-color);
  transition: width 0.5s ease-in-out;
}
.tel-link:hover::after,
.tel-link:active::after {
  width: 100%;
}
