.about {

    // .about__content

    &__content {
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.5;
        color: $black;

        p {
            margin-bottom: rem(30);
        }
    }

    // .about__subtitle

    &__subtitle {
        margin-bottom: rem(20);

        font-size: rem(24);
        font-weight: 500;
        line-height: 1.2;
        color: $black;
        text-transform: uppercase;
    }

    // .about__bold

    &__bold {
        font-weight: 700;

        span {
            color: $red;
        }
    }

    // .about__numbers

    &__numbers {
        margin-bottom: rem(45);
        width: 100%;

        @media screen and (max-width: $break1200) {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        @media screen and (max-width: $mobile) {
            justify-content: flex-start;
        }

        @media screen and (max-width: $mobileSmall) {
            margin-bottom: rem(10);
        }
    }

    // .about__numbers-item

    &__numbers-item {
        color: $red;
        width: 20%;

        @media screen and (max-width: $break1200) {
            width: 30%;
            margin-bottom: rem(10);
            padding-right: 0;
        }

        @media screen and (max-width: $tablet) {
            width: 33%;
        }

        @media screen and (max-width: $mobile) {
            width: 50%;
        }

        span {
            display: inline-block;
            font-weight: 700;
        }
    }

    // .about__numbers-value

    &__numbers-value {
        display: inline-block;
        font-size: rem(54);
        font-weight: 800;

        @media screen and (max-width: $mobile) {
            font-size: rem(40);
        }

        @media screen and (max-width: $mobileSmall) {
            font-size: rem(35);
        }
    }

    // .about__numbers-text

    &__numbers-text {
        font-size: rem(16);
        font-weight: 700;
        margin-top: rem(5);
        text-transform: uppercase;

        @media screen and (max-width: $mobileSmall) {
            font-size: rem(14);
            width: 90%;
        }
    }

    // .about__wrap

    &__wrap {
        position: relative;
    }

    // .about__slider

    &__slider {
        margin-bottom: rem(60);
    }

    // .about__advantages

    &__advantages {
        margin-bottom: rem(55);

        @media screen and (max-width: $break1200) {
            margin-bottom: 0;
            justify-content: center;
        }
    }

    // .about__advantages-item

    &__advantages-item {
        width: 16.66666666666%;
        padding-right: rem(90);

        @media screen and (max-width: $break1200) {
            margin-bottom: rem(30);
        }

        @media screen and (max-width: $tablet) {
            padding-right: rem(50);
            width: 33%;
        }

        @media screen and (max-width: $mobile) {
            padding-right: rem(20);
        }

        @media screen and (max-width: 376px) {
            width: 50%;
        }
    }

    // .about__advantages-icon

    &__advantages-icon {
        height: 55px;
        width: auto;
    }

    // .about__advantages-text

    &__advantages-text {
        margin-top: rem(10);

        color: $red;
        font-size: rem(16);
        line-height: 1.5;
        font-weight: 400;
    }

    // .about__certificates

    &__certificates {
        margin-bottom: rem(60);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(25);
        row-gap: rem(60);

        @media screen and (max-width: $break1200) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: rem(35);
        }

        @media screen and (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    // .about__certificates-img

    &__certificates-img {
        height: auto;
        max-height: 400px;
        margin-bottom: rem(10);
        display: block;

        img {
            object-fit: contain;
            height: 100%;
            width: auto;
        }

        @media screen and (max-width: $mobileSmall) {
            height: 250px;
        }
    }

    // .about__certificates-text

    &__certificates-text {
        color: $black;
        font-size: rem(16);
        font-weight: 400;
    }

    // .about__btn

    &__btn {
        margin-bottom: rem(80);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .about__showmore

    &__showmore {
        color: $red;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: rem(16);

        outline: none;
        border: 0;
        background-color: transparent;
    }
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $tablet) {
        bottom: -30px !important;
    }
}

.swiper-pagination-bullet {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transition: .1s linear;
    border-radius: 0;
    opacity: 1;

    @media screen and (max-width: $tablet) {
        background-color: #e5e5e5;
    }
}

.swiper-pagination-bullet:not(:last-of-type) {
    margin-right: rem(10) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $red;
    width: 12px;
    height: 12px;
}

.swiper-button-prev, .swiper-button-next {
    height: 40px;
    width: 40px;
    background-color: #E31F23;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48%;
    z-index: 200;
}

.swiper-button-prev {
    left: -3.8%;
    transform: rotate(90deg);

    @media screen and (max-width: $break1200) {
        left: -5%;
    }

    @media screen and (max-width: $tablet) {
        left: -6.5%;
    }

    @media screen and (max-width: $mobile) {
        left: -7.7%;
    }

    @media screen and (max-width: $mobileSmall) {
        display: none;
    }
}

.swiper-button-next {
    right: -3.8%;
    transform: rotate(-90deg);

    @media screen and (max-width: $break1200) {
        right: -5%;
    }

    @media screen and (max-width: $tablet) {
        right: -6.5%;
    }

    @media screen and (max-width: $mobile) {
        right: -7.8%;
    }

    @media screen and (max-width: $mobileSmall) {
        display: none;
    }
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}