.advantages {
    &__content {

        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }


        &-left {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }

        &-block {
            svg {
                margin-bottom: 10px;

                height: 56px;
                width: 56px;
            }
            
            p {
                font-size: rem(16);
                color: $black;
                line-height: 1.1;
                margin-bottom: 0px;
            }
        }
    }
}