.card {
    transition: border-color .1s linear;
    min-height: 100%;
    padding: 20px 15px;

    &:hover {
        border-color: $red;

        .btn--red {
            color: $red;
            background-color: transparent;
        }
    }
    
    //.card__grid
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media (max-width: $break1200) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(1, 1fr);
        }

        &-new{
            margin: 40px 0px;
        }
    }

    .product-label{
        position: relative;
        top: 0px;
        left: 0px;
    }

    //.card__header-title
    &__header-title {
        padding: rem(6) rem(10);
        font-size: rem(15);
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
    }

    //.card__icon-wrap
    &__icon-wrap {
        a {
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }

        cursor: pointer;
        color: #BDBDBD;

        position: relative;

        transition: color .1s linear;

        &:first-child {
            margin-right: rem(14);
        }

        &:hover {
            color: $red;
        }
    }

    //.card__icon-wrap
    &__icon-tooltip {
        padding: rem(5) rem(10);
        background-color: $white;
        border: 1px solid $card_border_color;

        text-align: center;
        font-size: rem(14);

        width: 215px;
        display: block;
        opacity: 0;
        visibility: hidden;

        position: absolute;
        top: -70px;
        left: -101px;
        z-index: 200;

        transition: opacity .2s linear;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 8px solid $card_border_color;

            position: absolute;
            left: 50%;
            top: 101%;
            transform: translateX(-50%);
        }
    }

    //.card__tooltip-text
    &__tooltip-text {
        color: $black;
    }

    //.card__tooltip-link
    &__tooltip-link {
        color: $red;

        &:hover {
            color: $red;
            text-decoration: none;
        }
    }

    //.card__image-wrap
    &__image-wrap {
        margin-bottom: rem(14);
    }

     //.card__image-wrap img
     &__image-wrap img {
        max-width: 100%;
        height: 220px;
        width: auto;
        display: block;
        margin: 0px auto;

        @media (max-width: $mobileSmall) { 
            height: 200px;
        }
    }

    //.card__subtitle
    &__subtitle {
        margin-bottom: rem(10);

        color: $gray-82;
        text-decoration: none;
        font-size: rem(14);
        line-height: 1.2;
        font-weight: 400;
        display: block;

        &:hover {
            text-decoration: none;
            color: $gray-82;
        }
    }

    //.card__title
    &__title {
        margin-bottom: rem(20);

        color: $black;
        font-size: rem(18);
        line-height: 1.2;
        font-weight: 700;
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: none;
            color: $black;
        }
    }

    //.card__advantages
    &__advantages {
        margin-bottom: rem(30);

        & .row:not(:last-of-type) {
            border-bottom: 1px solid $card_border_color;
        }

        & .row {
            margin: 0;
            padding: rem(5) 0;
        }

        & .row div {
            padding: 0;
            width: initial;
        }

        //.card__advantages-name
        &-name {
            color: $gray-82;
            font-size: rem(14);
            line-height: 1.1;
            font-weight: 400;
        }

        //.card__advantages-value
        &-value {
            color: $black;
            font-size: rem(14);
            line-height: 1.1;
            font-weight: 700;
        }
    }

    //.card__price
    &__price {
        color: $black;
        font-size: rem(24);
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;

        & span {
            font-weight: 400;
            font-size: rem(14);
        }
    }

    &__slider {
        padding-top: rem(50);

        .row {
            margin-right: 0;
        }
    }


    //.card__footer
    &__footer{
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: flex-start !important;
            .card__prices{
                margin-bottom: 10px;
            }
            .btn{
                width: 100%;
            }
        }
    }
}

.slider__arrow {
    height: 40px;
    width: 40px;
    background-color: $red;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 48%;
    z-index: 200;

    @media screen and (max-width: $mobileSmall) {
        display: none;
    }
}

.card__slider-next, .card__slider-next--second {
    right: -3.8%;
    transform: rotate(-90deg);

    @media screen and (max-width: $break1200) {
        right: -4.8%;
    }

    @media screen and (max-width: $tablet) {
        right: -6.5%;
    }

    @media screen and (max-width: $mobile) {
        right: -7.8%;
    }
}

.card__slider-prev, .card__slider-prev--second {
    left: -3.8%;
    transform: rotate(90deg);

    @media screen and (max-width: $break1200) {
        left: -4.8%;
    }

    @media screen and (max-width: $tablet) {
        left: -6.5%;
    }

    @media screen and (max-width: $mobile) {
        left: -7.7%;
    }
}

.slider-bullet {
    display: block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #E0E0E0;
    transition: .1s linear;
}

.slider-bullet:not(:last-of-type) {
    margin-right: rem(10);
}

.slider-bullet.swiper-pagination-bullet-active {
    background-color: $red;
    width: 12px;
    height: 12px;
}

.card__pagination-2 {
    position: absolute;
    bottom: 5px;
}