.comments {
    &__banner {
        background-color: #f7f7f7;
        padding: rem(41) rem(50);

        @media screen and (max-width: $mobile) {
            padding: 0;
            background-color: transparent;

            justify-content: space-between;
        }

        &-left {
            margin-right: rem(66);

            @media screen and (max-width: $mobile) {
                margin-right: 0;
            }
        }

        &-count {
            font-weight: 700;
            line-height: 1;
            color: $black;
            font-size: 72px;
            text-transform: uppercase;
        }

        &-stars {
            margin-bottom: rem(12);
        }

        &-text {
            color: $gray-82;
            font-size: 14px;
            line-height: 1.5;
        }

        &-row:not(:last-of-type) {
            margin-bottom: rem(10);
        }

        &-line {
            margin: 0 rem(20);
            width: 260px;
            height: 2px;
            background-color: $card_border_color;

            @media screen and (max-width: $mobileSmall) {
                width: 100px;
            }

            .progress {
                height: 2px;
                background-color: $red;
            }
        }
    }

    &__btn {
        margin: rem(30) 0;
    }

    &__filter {
        border-bottom: 1px solid $card_border_color;
        padding-bottom: rem(10);

        @media screen and (max-width: $mobile) {
            flex-wrap: wrap;
        }

        &-left {
            font-size: 18px;
            font-weight: 400;
            color: $gray-82;

            @media screen and (max-width: $mobile) {
                font-size: rem(16);
            }

            span {
                font-weight: 700;
                color: $black;
            }
        }

        &-right {
            gap: rem(30);

            @media screen and (max-width: $mobile) {
                gap: rem(15);
                font-size: rem(14);
            }
        }

        &-dates, &-mark {
            cursor: pointer;
            transition: .1s linear;

            &:hover {
                color: $red;
            }

            &::after {
                content: "";
                background-image: url(./../img/svg/arrow.svg);
                height: 6px;
                width: 10px;
                display: inline-block;
                margin-left: 0.3125rem;
                transform: translateY(-30%);
            }
        }
    }

    &__item {
        &-row {
            padding: rem(30) 0;
            border-bottom: 1px solid $card_border_color;
        }

        &-showmore {
            margin-top: rem(60);
            display: flex;
            justify-content: center;

            @media screen and (max-width: $mobile) {
                margin-top: rem(30);
            }
        }
    }

    &__row {
        &-header {
            display: flex;
            align-items: center;
        }

        &-name {
            margin-right: rem(20);
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
        }

        &-date {
            color: $gray-82;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
        }

        &-stars {
            margin: rem(15) 0;
        }

        &-text {
            font-family: 'Arial', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.4;
        }

        &-images {
            margin-top: rem(20);

            img {
                max-width: 100px;

                &:not(:last-of-type) {
                    margin-right: rem(20);
                }
            }
        }
    }

    &__answer {
        margin-top: rem(20);
        padding-left: rem(100);

        @media screen and (max-width: $mobile) {
            padding-left: rem(40);
        }

        &-name {
            margin-bottom: rem(10);

            font-family: 'Arial';
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;
            color: $red;
        }
    }

    &__showmore-btn {
        border: 0;
        outline: 0;
        background: none;

        cursor: pointer;
        color: $red;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        text-transform: uppercase;

        @media screen and (max-width: $mobile) {
            font-size: rem(14);
        }

        &:hover {
            text-decoration: none;
        }
    }
}