.compare {

    //.compare__swiper

    &__swiper {
        max-width: rem(1242);
        width: 100%;

        @media screen and (max-width: 1400px) {
            max-width: rem(1090);
        }

        @media screen and (max-width: $break1200) {
            max-width: 58.025rem;
        }

        @media screen and (max-width: $tablet) {
            max-width: 43.425rem;
        }

        @media screen and (max-width: $mobile) {
            max-width: 31.525rem;
        }

        @media screen and (max-width: 700px) {
            max-width: 100%;
        }
    }

    // .compare__content

    &__content {
        display: flex;
    }

    // .compare__item

    &__item {
        width: rem(310);
        padding: 0 rem(20);
        border-left: 1px solid $card_border_color;
        
        &:last-of-type {
            border-right: 1px solid $card_border_color;
        }

        @media screen and (max-width: $tablet) {
            padding: 0 rem(10);
        }

        @media screen and (max-width: 700px) {
            border-right: 1px solid $card_border_color;
            border-left: 1px solid $card_border_color;
            padding: 0;
        }
    }

    // .compare__item-img

    &__item-img {
        margin-bottom: rem(10);
        width: 100%;
        height: rem(265);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media screen and (max-width: 700px) {
            height: rem(220);
        }
    }

    // .compare__item-name

    &__item-name {
        font-weight: 700;
        font-size: rem(16);
        line-height: 1.2;
        margin-bottom: rem(10);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;

        @media screen and (max-width: 700px) {
            padding: 0 rem(5);
        }
    }

    // .compare__item-reviews

    &__item-reviews {
        display: flex;
        margin-bottom: rem(10);

        @media screen and (max-width: 700px) {
            padding: 0 rem(5);
        }
    }

    // .compare__item-link

    &__item-link {
        margin-bottom: rem(20);
        display: block;
        width: 100%;
        text-align: center;
    }

    // .compare__characteristics

    &__characteristics {
        list-style-type: none;
        padding: 0;
    }

    // .compare__characteristics-item

    &__characteristics-item {
        padding: rem(10) rem(25);
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        &::before {
            content: "";
            display: block;
            width: rem(310);
            height: 1px;
            background-color: $card_border_color;

            position: absolute;
            top: 0;
            left: - rem(20);

            @media screen and (max-width: $tablet) {
                width: rem(347);
            }

            @media screen and (max-width: 700px) {
                display: none;
            }
        }

        @media screen and (max-width: 1400px) {
            padding: rem(10) 0;
        }

        @media screen and (max-width: 700px) {
            border-top: 1px solid $card_border_color;
        }
    }

    //.compare__characteristics-wrapper

    &__characteristics-wrapper {
        @media screen and (max-width: 700px) {
            padding-left: rem(5);
        }
    }

    // .compare__characteristics-name

    &__characteristics-name {
        margin-bottom: rem(5);
        font-weight: 500;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
    }

    // .compare__characteristics-icon

    &__characteristics-icon {
        position: relative;
        cursor: pointer;

        svg {
            fill: $gray-82;
            stroke: #fff;

            transition: fill .2s linear;
        }

        &:hover {
            svg {
                fill: $red;
            }

            .compare__characteristics-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }

        @media screen and (max-width: 700px) {
            margin-right: rem(10);
        }
    }

    // .compare__characteristics-tooltip

    &__characteristics-tooltip {
        padding: rem(10);
        background-color: $white;
        border: 1px solid $card_border_color;

        font-size: rem(12);
        color: $gray-82;

        width: 215px;
        display: block;
        opacity: 0;
        visibility: hidden;

        position: absolute;
        top: -120px;
        left: -97px;
        z-index: 200;

        transition: opacity .2s linear;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 8px solid $card_border_color;

            position: absolute;
            left: 50%;
            top: 101%;
            transform: translateX(-50%);

            @media screen and (max-width: 700px) {
                border-style: solid;
                border-width: 4px 0 4px 6px;
                border-color: transparent transparent transparent $card_border_color;

                left: 102%;
                top: 48%;
            }
        }

        @media screen and (max-width: 700px) {
            top: -45px;
            left: -225px;       
        }
    }
}

.slider__arrow {
    height: 40px;
    width: 40px;
    background-color: $red;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 48%;
    z-index: 200;

    @media screen and (max-width: 700px) {
        display: none !important;
    }
}

.compare__slider-next {
    right: -3.8%;
    transform: rotate(-90deg);

    @media screen and (max-width: $break1200) {
        right: -4.8%;
    }

    @media screen and (max-width: $tablet) {
        right: -7.5%;
    }

    @media screen and (max-width: $mobile) {
        right: -9.8%;
    }
}

.compare__slider-prev {
    left: -3.8%;
    transform: rotate(90deg);

    @media screen and (max-width: $break1200) {
        left: -4.8%;
    }

    @media screen and (max-width: $tablet) {
        left: -7.5%;
    }

    @media screen and (max-width: $mobile) {
        left: -9.7%;
    }
}

.compare__pagination {
    display: none;

    @media screen and (max-width: 700px) {
        display: flex;
        bottom: rem(15) !important;
    }
}