.filter {
    &__wrapper {
        padding-right: rem(30);
    }


    // .filter__row
    &__row {
        margin-bottom: rem(10);
        position: relative;

        &::after {
            margin-left: rem(8);
            content: '';
            display: block;
            width: 10px;
            height: 10px;

            position: absolute;
            right: 0;
            top: 8px;

            transform: rotate(0deg);
            transition: transform 200ms linear;
            background: url(./../img/svg/arrow-red.svg) 50% 50% no-repeat;
        }

        &-name {
            text-decoration: none;
            color: $black;
            cursor: pointer;
            text-align: left;

            width: 96%;
            display: inline-block;
            margin-bottom: rem(15);

            border: 0;
            background-color: transparent;
            outline: none;
            padding: 0;

            &:hover {
                color: $red;
            }
        }

        &-name.--active {
            &::after {
                transform: rotate(180deg);
            }
        }

        &-inputs {
            margin-bottom: rem(30);

            display: flex;
            align-items: center;

            input {
                width: 50%;
                border: 1px solid $card_border_color;
                border-radius: 0;
                outline: 0;

                padding: rem(8) 0;
                padding-left: rem(15);

                transition: .1s linear;

                &:hover {
                    border-color: $red;
                }
            }

            #minPrice {
                margin-right: 4px;
            }

            #maxPrice {
                margin-left: 4px;
            }
        }

        &-list {
            list-style-type: none;
            padding-left: 0;

            input[type="checkbox"] {
                display: none;
            }

            label {
                padding-left: rem(25);
                position: relative;

                font-size: rem(14);
                line-height: 1.2;
                color: $black;
                cursor: pointer;
            }

            span {
                color: #BDBDBD;
            }

            input[type="checkbox"] + label::before {
                margin-right: 10px;
                content: "";
                display: inline-block;
                width: 17px;
                height: 17px;

                border: 1px solid $card_border_color;
                border-radius: 0;
                outline: none;

                position: absolute;
                top: 0;
                left: 0;
            }

            input[type="checkbox"]:checked + label::before {
                background: url(/assets/img/icons/icons.svg#check) 50% 50% no-repeat;
                background-size: 12px 12px;
                border-color: $red;
            }

            &--item:not(:last-of-type) {
                margin-bottom: rem(10);
            }
        }

        &-showmore {
            margin-top: -rem(15);
            padding: 0;
            display: block;
            background-color: transparent;
            border: 0;
            outline: none;
            color: $gray-82;
            text-decoration: none;
            font-size: rem(14);

            &:hover {
                text-decoration: underline;
                color: $gray-82;
            }

            &::after {
                margin-left: rem(8);
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;

                transform: rotate(0deg);
                transition: transform 200ms linear;
                background: url(./../img/svg/arrow-gray.svg) 50% 50% no-repeat;
            }

            &.--active {
                a {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &__row.--active {
        &::after {
            transform: rotate(180deg);
        }
    }

    &__slider {
        width: 97%;
        margin-left: 6px;
    }

    &__clean {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: 1px solid $gray-82;

        padding: rem(12) 0;

        text-transform: uppercase;
        color: $gray-82;
        font-size: rem(14);
        font-weight: 700;
        text-align: center;
        
        transition: .1s linear;

        &:hover {
            background-color: $gray-82;
            color: #fff;
        } 
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}