.footer {

}

.footer-top {
    background-color: #949494;
    padding-top: rem(45);
    padding-bottom: rem(26);

    //.footer-top .row
    & .row:first-child {
        padding-bottom: rem(26);
        border-bottom: 1px solid #B2B2B2;
    }

    & .row:last-child {
        padding-top: rem(26);
    }

    //.footer-top__list
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        display: grid;
        grid-template-columns: repeat(3, 1fr);


        //.footer-top__list--item
        &--item {
            &:not(:last-of-type) {
                margin-bottom: rem(20);
            }
        }

        //.footer-top__list--link
        &--link {
            color: $white;
            font-size: rem(16);
            line-height: 1.2;
            font-weight: 400;
            text-decoration: none;

            transition: color .1s linear;

            &:hover {
                color: $red;
            }
        }
    }

    //.footer-top__adres
    &__adres {
        margin-bottom: rem(20);
        padding-right: rem(20);
        color: $white;
        font-size: rem(16);
        line-height: 1.2;
        font-weight: 400;

        &-link {
            color: $white;
            
            &:hover {
                text-decoration: none;
                color: $white;
            }
        }
    }

    //.footer-top__tel and .footer-top__mail 
    &__tel, &__mail{
        color: $white;
        text-decoration: none;
        font-size: rem(16);
        line-height: 1.2;
        font-weight: 400;
        text-align: right;
        display: block;
        white-space: nowrap;

        a{
            color: #FFF;
            text-decoration: none;
        }

        &:hover {
            color: $red;
            span{
                color: #FFF
            }
            a{
                // text-decoration: underline;
                color: $red;
            }
            
        }
    }

    &__tel {
        margin-bottom: rem(20);
    }

    //.footer-top__info
    &__info {
        width: initial;

        a {
            color: $white;
            text-decoration: none;
            font-size: rem(16);
            line-height: 1.2;
            font-weight: 400;

            transition: color .1s linear;

            &:not(:last-of-type) {
                margin-right: rem(50);
            }

            &:hover {
                color: $red;
            }
        }
    }

    //.footer-top__social 
    &__social {
        width: initial;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            &:not(:last-of-type) {
                margin-right: rem(20);
            }

            a {
                color: $white;
                transition: color .1s linear;

                &:hover {
                    color: $red;

                    svg{
                        fill: $red;
                    }
                }
            }
        }    
    }
}

.footer-bottom {
    background-color: $beth;
    padding: rem(12) 0;


    //.footer-bottom__text 
    &__text {
        font-size: rem(12);
        line-height: 1.1;
        color: $black;
        font-weight: 400;
    }
}
.footer-contact{
    span{
        display: block;
        margin-bottom: 1.25rem;
    }
}