.header {

  // .header__top
  &__top {
    padding: 10px 0px;

  }

  // .header__center
  &__center{
    background-color: $red;
    padding: 20px 0px;

    a{
      color: #FFF;
      text-decoration: none;
    }
  }

  // .header__bottom
  &__bottom {
    box-shadow: 0px 4px 4px 0px #0000000D;
    padding: rem(8) 0;
  }
}

.header-nav {
  list-style: none;
  margin: 0px;
  padding: 0px;

  @media (max-width: $mobileSmall) { 
    display: none !important 
  }

  // .header-nav__item
  &__item {

    &:not(:last-child){
      margin-right: 20px;
      &::after{
        content: '|';
        color: #CDCDCD;
        margin-left: 20px;
      }
    }
  }

  // .header-nav__link
  &__link {
    text-decoration: none;
    color: $black;

    &:hover,
    &:focus{
      color: $red
    }
  }
}

.location {

  // .location_link
  &_link {
    
    text-decoration: none;
    color: $black;
    display: inline-flex;
    align-items: center;

    &::after{
      content: '';
      background-image: url('./../img/svg/arrow.svg');
      height: 6px;
      width: 10px;
      display: inline-block;
      margin-left: 10px;
    }

    &::before{
      content: '';
      background-image: url('./../img/svg/location.svg');
      height: 20px;
      width: 14px;
      display: inline-block;
      margin-right: 10px;
    }

    &:hover{
      color: $red;
    }
  }
}

.header-user {

  // .header-user__item
  &__item {

    &:not(:last-child){
      margin-right: 10px;
      &::after{
        content: '|';
        color: #CDCDCD;
        margin-left: 10px;
      }
    }

  }

  // .header-user__link

  &__link {

  }
}



.logo {

  // .logo__link
  &__link {
    display: block;
    text-decoration: none;
  }

  // .logo__images

  &__images {
    margin: 0x 10px;
  }

  span{
    color: #FFF;
    font-size: em(36);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }
}


.header {

  // .header__sale
  &__sale {
    text-decoration: none;
    font-weight: 500;
    color: $black;
    font-size: 20px;
    display: flex;
    align-items: center;

    transition: color .2s ease;

    svg{
      margin-right: 5px;
    }

    &:hover {
      color: $red;
    }

  }

  // .header__compare
  &__compare {
  }

  // .header__favorites
  &__favorites {
  }

  // .header__cart
  &__cart {

  }
}


.header-category {

  // .header-category__btn

  &__btn {
    background-color: #828282;
    border: 0px;
    color: #FFF;
    padding: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  // .header-category__icons

  &__icons {
    margin-right: 10px;

    svg {
      margin-top: -4px;
      fill: #fff;
    }
  }

  // .header-category__label

  &__label {
    font-size: rem(16);
    font-weight: 500;
    line-height: 1;
  }
}


.search {
  flex: 1;
  padding: 0px 20px;


  // .search__btn-icons

  &__btn-icons {

  }

  // .search__wrapper

  &__wrapper {
    display: flex;
    align-items: stretch;
  }

  // .search__input

  &__input {
    min-height: 100%;
    width: 100%;
    background-color: $gray-F2;
    border: 1px solid $gray-E2;
    padding: rem(6) 0 rem(6) rem(30);
    outline: none;

    transition: border-color .1s linear;

    &::placeholder {
      color: #7F7F7F;
    }

    &:hover {
      border-color: darken($gray-E2, 20%)
    }
  }

  // .search__btn

  &__btn {
    outline: none;
    background-color: $gray-82;
    border: none;
    cursor: pointer;

    width: 40px;
    min-height: 100%;

    transition: background-color .1s linear;

    &:hover {
      background-color: darken($gray-82, 10%);
    }
  }

  // .search__list

  &__list {
  }
}


.header-personal-btn {

  // .header-personal-btn__item

  &__item {
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }

  // .header-personal-btn__link
  &__link {
    position: relative;

    text-decoration: none;
    color: #333;

    transition: color .1s linear;

    &:hover {
      color: $red;
    }
  }

  // .header-personal-btn__icons
  &__icons {
    position: relative;
    margin-right: 5px;
    color: $red;
  }

  // .header-personal-btn__count
  &__count {
    position: absolute;
    // background-color: $red;
    background-color: #828282;
    font-size: 12px;
    color: #FFF;
    line-height: 1;
    top: -8px;
    right: -5px;
    padding: 3px;
    border-radius: 100%;

    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .header-personal-btn__label
  &__label {


    @media (max-width: $mobileSmall) { 
      display: none
    }
  }
}

.compare {

  // .compare__link
  &__link {
  }

  // .compare__icons
  &__icons {
  }

  // .compare__count
  &__count {
  }

  // .compare__label
  &__label {
  }
}
.favorites {

  // .favorites__link
  &__link {
  }

  // .favorites__icons
  &__icons {
  }

  // .favorites__count
  &__count {
  }

  // .favorites__label
  &__label {
  }
}


.cart {

  // .cart__link

  &__link {
  }

  // .cart__icons

  &__icons {
  }

  // .cart__count

  &__count {
  }

  // .cart__label

  &__label {
  }
}


.popup {

  // .popup__compare .popup__cart .popup__favorites

  &__compare, &__cart, &__favorites {
    width: 100%;
    max-width: rem(370);
    background-color: #fff;
    padding: rem(10) rem(25) 0 rem(25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: rem(15);
    top: rem(35);
    z-index: 200;

    transition: all .4s ease;
  }

  &__compare .popup__list::after, &__cart .popup__list::after, &__favorites .popup__list::after {
    display: block;
    content: '';

    position: absolute;
    top: -20px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $card_border_color transparent;
    background-color: transparent;
  }

  &__compare .popup__list::after {
    left: -3.3%;
  }

  &__favorites .popup__list::after {
    left: 37.3%;
  }

  &__cart .popup__list::after {
    left: 83%;
  }

  // .popup__list

  &__list {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }

  // .popup__list-item

  &__list-item {
   margin-bottom: rem(10);
   position: relative;
  }

  &__list-item:not(:first-of-type) {
    padding-top: rem(11);

    &::after {
      display: block;
      content: '';
      
      width: 370px;
      height: 1px;
      background-color: $card_border_color;

      position: absolute;
      top: 0;
      left: -25px;
    }
  }

  // .popup__item-close

  &__item-close {
    display: block;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: -20px;

    width: 15px;
    height: 15px;

    transform: translateY(-50%);

    span {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 15px;
      height: 1px;

      background-color: $red;
    }

    span:first-of-type {
      transform: rotate(45deg) translate(-7px, 7px);
    }

    span:last-of-type {
      transform: rotate(-45deg) translate(-7px, -7px);
    }
  }

  // .popup__list-link

  &__list-link {
    display: flex;
    text-decoration: none;
    color: $black;

    &:hover {
      .popup__item-text {
        color: $red;
      }
    }
  }

  // .popup__item-left

  &__item-left {
    margin-right: rem(15);

    display: block;
    width: 70px;
    height: 73px;
    
    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: cover;
    }
  }

  // .popup__item-right

  &__item-right {
    display: block;
    width: calc(100% - 85px);
    color: inherit;
  }

  // .popup__item-text

  &__item-text {
    font-size: rem(14);
  }

  // .popup__item-price

  &__item-price {
    font-weight: 700;
    font-size: rem(16);
    color: $black;

    span {
      font-weight: 400;
    }
  }

  // .popup__link

  &__link {
    text-align: right;
    color: $red;
    text-decoration: none;
    font-size: rem(14);
    font-weight: 400;
    
    margin-bottom: rem(10);
    display: block;
    width: 100%;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
      color: $red;
    }
  }
}


.header__cart .basket-dropdown {
  bottom: 100%;
  top: auto;
  padding-top: 0;
  padding-bottom: 9px;
  z-index: 3;
}

.header__cart .basket-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out,visibility .2s ease-in-out;
  position: absolute;
  top: 100%;
  padding-top: 12px;
  right: -1px;
}

.header__cart.opened .basket-dropdown, 
.header__cart:hover .basket-dropdown {
  opacity: 1;
  visibility: visible;
}


.header__cart{

  .basket_wrap{
    padding: 10px;
  }

  .basket-dropdown .dropdown {
    overflow: hidden;
    padding: 18px 24px 0;
    width: 440px;
    left: 0;
    padding: 0;
  }

  .items_wrap {
    max-height: 410px;
    overflow: hidden;
  }

  .basket .basket_empty {
    padding: 28px 38px 28px 38px;
    border: none;
  }

  .dropdown {
    box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
    background: #fff;
    top: 100%;
    left: 0;
  }

  .cart__footer{
    margin-top: 20px;

    // .cart__footer-price
    &-price{
      font-weight: bold;
    }
  }

  .basket_empty{
    .basket_empty-wrapper {
      padding: 20px;
    }
    .basket_empty-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .basket_empty-text {
      margin-bottom: 20px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}

.basket .basket_empty {
  padding: 44px;
  min-height: 178px;
  border: 1px solid #ebeef1;
  border-radius: 4px;
}

.basket .basket_empty>.wrap {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 20px 0;
}

// .header-cart .cart__item {
//   padding: 25px 24px 23px;
// }

.cart__item {
  width: 100%;
  
  padding-bottom: 3px;

  position: relative;
  page-break-inside: avoid;

  &:not(:last-child){
    margin-bottom: 3px;
    border-bottom: 1px solid #e5e5e5;
  }

  //.cart__item-remove
  &-remove{
    cursor: pointer;
  }
}


.cart{
  padding: 20px;
}
.cart__item-image{
  margin-right: 10px;

  img{
    max-width: 80px;
  }
}

.cart__item-info{
  flex: 1;

  &-top{
    margin-bottom: 5px;

    a{
      text-decoration: none;
      color: #333;
      transition: all .3s;
      line-height: 1;
      // font-size: rem(14);

      &:hover,
      &:focus{
        color: $red;
      }
    }
  }
}