.product-labels {
    padding: rem(5) rem(10);
    font-size: rem(14);
    text-transform: uppercase;
    color: $white;
    // font-weight: 500;
    
    &:not(:last-child){
        margin-right: rem(5);
    }
}

.labels-new {
    background-color: $green;
}

.labels-hit {
    background-color: $orange
}