.product {
    margin-bottom: rem(70);
    display: flex;

    @media screen and (max-width: $tablet) {
        margin-bottom: rem(30);
    }

    //.product__slider
    &__slider {
        width: 100%;
        max-width: 80px;
        height: 100%;
        margin: 0;
        position: relative;

        .swiper-slide-active{
            border-color: $red;
        }

        &-item {
            &--img, &--video {
                border: 1px solid #FFF;
                height: 80px !important;
                padding: 3px;
                border-radius: 3px;

                img {
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    //.product__img
    &__img {
        flex: 1;
        height: 100%;
        padding: 0px 20px;
        // margin-left: 20px;

        img{
            width: auto;
            max-height: 400px;
            display: block;
            margin: 0px auto;
        }
    }

    &__about {
        width: 30%;
        margin-right: rem(35);

        &-advantages {
            img {
                width: 62px;
                height: 62px;
                margin-bottom: rem(15);
                
                @media screen and (max-width: $mobileSmall) {
                    width: 55px;
                    height: 55px;
                }
            }
    
            img:not(:last-of-type) {
                margin-right: rem(12);
            }
        }

        @media screen and (max-width: $pcxll) {
            margin-right: 0;
        }

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-bottom: rem(20);
        }
    }

    &__info {
        // &-next, &-prev {
        //     right: 42%;
        //     left: auto;

        //     color: $black;
        //     height: 18px;

        //     &::after {
        //         font-size: 15px;
        //     }
        // }
        
        &-next {
            top: 0px;
            left: 50%;
            right: auto;
            transform: translateX(-50%) rotate(-90deg);
        }

        &-prev {
            transform: rotate(-90deg);
            bottom: 0;
        }
    }

    // .product__about
    &__about {
        color: $gray-82;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
    }

    // .product__about-class
    &__about-class {
        margin-bottom: rem(8);
    }

    // .product__about-name
    &__about-name {
        margin-bottom: rem(8);

        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $black;
    }

    // .product__about-articul
    &__about-articul {
        margin-bottom: rem(9);

        span {
            margin-left: rem(4);
            color: $black;
        }
    }

    // .product__about-reviews
    &__about-reviews {
        margin-bottom: rem(10);
    }

    // .product__controls
    &__controls {
        color: $gray-82;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 3px;
        flex: 1;
        height: 100%;

        // @media screen and (max-width: $pcxll) {
        //     padding: rem(20);
        // }

        @media screen and (max-width: $tablet) {
            background-color: transparent;
            padding: 0;
        }
    }

    &__price {
        margin-bottom: rem(15);

        &-value {
            margin-right: rem(10);
            color: $black;
            font-size: rem(30);
            font-weight: 700;
        }

        &-strike {
            color: #777777;
            font-size: rem(20);
        }
    }

    &__btns {
        margin-bottom: rem(17);
        justify-content: space-between;


        &-link {

            background: transparent;
            border: 0px ;

            align-items: center;
            text-decoration: none;
            color: #333;

            transition: all .3s;
            opacity: .8;

            &:hover,
            &:focus{
                color: $red;
                opacity: 1;

                svg{
                    fill: $red;
                }
            }
        }

        &-icon {
            margin-right: rem(5);
        }

        &-text {
            // color: $gray-82;
        }

        @media screen and (max-width: $break1200) {
            flex-direction: column;

            .product__btns-item:first-of-type {
                margin-bottom: rem(10);
            }
        }

        @media screen and (max-width: $tablet) {
            flex-direction: row;
            justify-content: flex-start;

            .product__btns-item:first-of-type {
                margin-bottom: 0;
                margin-right: rem(15);
            }
        }
    }

    &__buttons {
        margin-bottom: rem(27);

        .btn{
            width: 100%;
            flex: 1;
        }

        &-link {
            width: 100%;
            display: block;

            &:not(:last-of-type) {
                margin-bottom: rem(13);
            }

            &:first-of-type {
                background-color: #fff;
                border-color: #fff;

                @media screen and (max-width: $tablet) {
                    border-color: $red;
                }

                &:hover {
                    border-color: $red;
                    color: $red;
                }
            }

            &:last-of-type {
                &:hover {
                    background-color: #fff;
                }
            }
        }

        .counter{
            margin-left: 10px;
            .cart__count-counterInput{
                max-width: 60px;
            }
        }
    }

    &__info {
        &-name {
            color: $black;
        }

        &-item:not(:last-of-type) {
            margin-bottom: rem(7);
        }

        &-value {
            margin-left: rem(3);

            display: inline;
            font-family: Arial, sans-serif;
            color: $gray-82;
        }
    }

    @media screen and (max-width: $tablet) {
        flex-wrap: wrap;
    }
}

.characteristics {
    margin-bottom: rem(60);

    @media screen and (max-width: $tablet) {
        margin-bottom: rem(30);
    }

    &__nav {
        margin-bottom: rem(20);

        &-item {
            color: $red;

            .nav-link{
                border: 0px;
                color: #333;

                &.active{
                    color: $red;
                    border-bottom: 1px solid $red;
                }
            }
        }
    }

    // &__nav {
    //     margin-bottom: rem(40);
    //     // padding-bottom: rem(11);
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;

    //     border-bottom: 1px solid $card_border_color;

    //     &-item {
    //         cursor: pointer;
    //         font-weight: 400;
    //         font-size: 18px;
    //         line-height: 1;
    //         color: $gray-82;

    //         transition: .1s linear;

    //         &::after {
    //             content: '';
    //             display: block;
    //             width: 100%;
    //             height: 1px;
    //             background-color: transparent;

    //             transition: .1s linear;
    //             transform: translateY(rem(12));
    //         }

    //         &:hover {
    //             color: $red;

    //             &::after {
    //                 background-color: $red;
    //             }
    //         }

    //         &.active {
    //             color: $red;

    //             &::after {
    //                 background-color: $red;
    //             }
    //         }
    //     }
    // }

    &__content {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(20);

        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }

        &-row {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $mobile) {
                flex-direction: column;

                .characteristics__row-name {
                    font-weight: 700;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: rem(15);
            }
        }

        &-item {
            display: none;
        }

        &-item[data-content="1"] {
            display: block;
        }

        &-showmore {
            margin-top: rem(30);
            padding: 0;

            border: 0;
            outline: 0;
            background: none;
        }

        &-small {
            max-width: 915px;
            width: 100%;
        }
    }

    &__row {
        &-dots {
            flex: 1 0;
            display: block;
            border-bottom: 2px dotted $card_border_color;
            transform: translateY(-5px);

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }
}

.search-tag {
    margin-bottom: 0 !important;
}


//.product-slider__wrapper

.product-slider{
    &__wrapper{
        height: 450px;
        width: 30%;
        margin-right: 35px;

        img{
            max-height: 430px;
            height: auto;
            width: auto;
            display: block;
            margin: 0px auto;
            max-width: 100%;
        }

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: rem(20);
            height: 350px;
        }
    }
}


.product__images-only{
    display: block;
    margin: 0px auto;
    max-width: none;
    width: auto;
    height: 100%;

    @media screen and (max-width: $break1200) {
        max-width: 100%;
    }
}

.comments__section,
.materials__section,
.modific__section,
.product-by1cklick,
.product__btns,
.product__about-reviews{
    display: none !important
}