.review:not(:last-of-type) {
    margin-right: rem(5);
}
.review{
    svg{
        fill: #D4D4D4;
    }

    &.active{
        svg{
            fill: #F1C644;
        }
    }
}

.reviews__count {
    margin-left: rem(20);
    margin-top: 4px;
}