.search__result {
    color: $gray-82;
    padding-bottom: rem(8);
    margin: rem(20) 0px;
    border-bottom: 1px solid $card_border_color;

    ul {
        margin-bottom: 0;
    }

    .find {
        strong {
            margin-right: rem(5);
            color: $black;
        }

        strong:last-of-type {
            margin-right: rem(2);
        }
    }

    .sorting {
        display: flex;

        .sorting__types {
            display: flex;
            list-style-type: none;
            padding-left: rem(30);

            li {
                transition: color .1s linear;
                cursor: pointer;

                &:hover {
                    color: $red;
                }
            }

            li:not(:last-of-type) {
                margin-right: rem(30);
            }

            .dropdown::after {
                content: "";
                background-image: url(./../img/svg/arrow.svg);
                height: 6px;
                width: 10px;
                display: inline-block;
                margin-left: rem(5);
                transform: translateY(-35%);
            }

            ul {
                list-style-type: none;
                display: none;
            }
        }
    }

    .watch {
        a {
            color: inherit;
            text-decoration: none;
            transition: color .1s linear;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li.active {
            color: $red;
        }

        li:hover {
            color: $red;
        }

        .watch__number {
            margin-left: rem(10);
            margin-right: rem(40);
        }

        .watch__number li:not(:last-of-type) {
            margin-right: rem(10);
        }

        .view__type {
            margin-left: rem(15);

            button{
                
                background-color: transparent;
                border: 0px;

                &:not(:last-child){
                    margin-right: 10px;
                }  

                svg{
                    fill: #C4C4C4;
                }
                
                &.active{
                    svg{
                        fill: $red;
                    }
                }
            }
        }

        .view__type li.active {
            color: $red;
        }

        .view__type li:not(:last-of-type) {
            margin-right: rem(15);
        }
    }
}