@use "sass:math";
@import "base/mixins";
@import "setings";

.section {

	// .section__header

	&__header {
	}
}

.personal {

	// .personal_password

	&_password {

		// .personal_password_form
		&_form{
			margin-top: 20px;
			background-color: #fff;
    	padding: 25px 30px;
		}
	}
}

.tabs-personal {

	// .tabs-personal__nav

	&__nav {
		.nav-link{
			border: 0px;
			border-radius: 0px;
			background-color: $red;
			color: #FFF;
			border-right: 1px solid #E5E5E5;

			&.active{
				background-color: #E5E5E5;
				color: $red;
			}
		}
	}

	// .tabs-personal__content

	&__content {

		.tab-pane{
			background-color: #E5E5E5;
			padding: 40px;
		}

	}
}
.nav-link {
}
.active {
}
.tab-content {
}
.tab-pane {
}
.fade {
}
.show {
}
.dealerAccount-form {

	// .dealerAccount-form__wrapper

	&__wrapper {
	}

	// .dealerAccount-form__leftCol

	&__leftCol {
		flex: 1;
	}

	// .dealerAccount-form__block
	&__block {
		background-color: #fff;
		padding: 25px 30px;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}

	// .dealerAccount-form__row

	&__row {
		display: flex;
	}

	// .dealerAccount-form__field

	&__field {
		flex: 1;
		margin-bottom: 20px;
		&:not(:last-child){
			margin-right: 20px;
		}
	}

	// .dealerAccount-form__field--w271

	&__field--w271 {
	}

	// .dealerAccount-form__tooltip

	&__tooltip {
	}

	// .dealerAccount-form__addTel

	&__addTel {
	}

	// .dealerAccount-form__field--w600

	&__field--w600 {
	}

	// .dealerAccount-form__addPerson

	&__addPerson {
	}

	// .dealerAccount-form__note

	&__note {
	}

	// .dealerAccount-form__note--addressLink

	&__note--addressLink {
	}

	// .dealerAccount-form__field--w583

	&__field--w583 {
	}

	// .dealerAccount-form__rightCol

	&__rightCol {
		width: 250px;
		margin-right: 40px;
	}

	// .dealerAccount-form__logoUpload

	&__logoUpload {
		width: 165px;
		height: 165px;
		background-color: #F2F2F2;
		display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

		label{
			color: #828282;
			cursor: pointer;
		}
	}

	// .dealerAccount-form__logoUpload-info

	&__logoUpload-info {
	}

	// .dealerAccount-form__btn

	&__btn {
		display: inline-block;
		color: $red;
		border: 1px solid $red;
		text-decoration: none;
		text-align: center;
		padding: 10px 5px;
		line-height: 1;
	}
}
.dealer {

	// .dealer_personal

	&_personal {
	}

	// .dealer_personal

	&_personal {
	}
}

.dealerLKPhotoBlock__wrapper{
	padding: 20px;
	background-color: #FFF;
}

.tab {

	// .tab__title

	&__title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
	}
}

.contactPersonItem {

	&:not(:last-child){
		margin-bottom: 20px;
		border-bottom: 1px solid #E5E5E5
	}
}
.account-form {

	// .account-form__suggestInput

	&__suggestInput {
	}

	// .account-form__deleteAddress

	&__deleteAddress {
	}

	// .account-form__textarea-counter

	&__textarea-counter {
	}

	// .account-form__button

	&__button {
	}

	// .account-form__wrapperMinusMargin

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	// .account-form__field

	&__field {
		flex: 1;
		margin-bottom: 20px;
		&:not(:last-child){
			margin-right: 20px;

		}
	}
}


/*
* авторизация
*/

.block {

	// .block__wrapper

	&__wrapper {
	
	}

	// .block__textBlock

	&__textBlock {
		margin-top: 10px;
		color: #949494;
	}

	// .block__text

	&__text {
		text-align: center;
		margin: 0px;
	}

	// .block__link

	&__link {
		color: inherit;
		font-weight: 500;
		text-decoration: none;
		transition: all .3s;
		&:hover{
			color: $red;
		}
	}

	// .block__auth
	&__auth{
		max-width: 500px;
	}

	&__register{
		// background-color: #E5E5E5;
	}
}


.form {
	// .form__wrapper
	&__wrapper {

	}

	// .form__group

	&__group {
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}

	// .form__link

	&__link {
		text-decoration: none;
		color: #333;
		transition: all .3s;

		&:hover,
		&:focus{
			color: $red;
		}
	}

	// .form__link--restore

	&__link--restore {
	}

	// .form__buttons

	&__buttons {
	}

	// .form__button

	&__button {
	}

	// .form__bottom
	&__bottom{
		align-items: center;
		justify-content: space-between;
	}
}

.form--loginWithoutReg {
	background-color: #E5E5E5;
	padding: 20px;
}


.error__p {
	background-color: $red;
	padding: 10px 10px;
	text-align: center;
	color: #FFF;
	font-weight: normal;
	margin-bottom: 10px;
}


/* Регистрация */

.registerTitleBlock {

}

.registerForm {

}

.account-form {

	// .account-form__block

	&__block {

		background-color: #fff;
		padding: 20px;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}

	// .account-form__title

	&__title {
	}

	// .account-form__wrapperMinusMargin

	&__wrapperMinusMargin {
	}

	// .account-form__field

	&__field {
	}

	// .account-form__row

	&__row {
	}

	// .account-form__field--w100

	&__field--w100 {
	}

	// .account-form__checkbox

	&__checkbox {
	}

	// .account-form__regBtn

	&__regBtn {
	}

	// .account-form__button

	&__button {
	}

	// .account-form__note

	&__note {
		color: #949494
	}
}
.registerForm{
	background-color: #E5E5E5;
	padding: 20px;
}

.registerButton {
}

