@use "sass:math";


// Подключение миксинов 
@import "base/mixins";

@import "setings";

:root{
  --bs-breadcrumb-divider: '>'
}

*{
  outline: none;
}

.btn-check:focus + .btn, .btn:focus{
  box-shadow: none
}


body{
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'HelveticaNeueCyr', sans-serif;
}

@import "base/base";
@import "block/block";


// .notice-surface{

// }

.notice-surface__inner{
  display: flex;
  align-items: center;
  position: fixed;
  top: 10%;
  right: 0px;
  width: 350px;
  background: #FFF;
  padding: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15);

}

.notice-images{
  width: 100px;
  margin-right: 10px;
}


.product-order {
  max-width: 900px;

  // .product-order__top

  &__top {
  }

  // .product-order__images

  &__images {
    margin-right: 20px;
    img{
      max-width: 150px;
    }
  }

  // .product-order__name
  &__name {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
  }

  // .product-order__counter

  &__counter {
    .cart__count-counterInput{
      max-width: 50px;
    }
    .cart__count-counterBtn{
      width: 30px;
      height: 30px;
    }
    input[type=password], input[type=email], input[type=tel], input[type=text]{
      height: 30px;
    }


  }

  // .product-order__content
  &__content{
    flex: 1;
  }
}

.cart {

  // .cart__count-counter

  &__count-counter {
  }

  // .cart__count-counterBtn

  &__count-counterBtn {
  }

  // .cart__count-counterInput

  &__count-counterInput {
  }
}

.account-form {

  // .account-form__row

  &__row {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child){
      margin-bottom: 10px;
    }
  }

  // .account-form__field

  &__field {
    margin-bottom: 20px;
    flex: 1;

    &:not(:last-child){
      margin-right: 15px;

    }
  }

  // .account-form__field--fg1

  &__field--fg1 {
  }

  // .account-form__field--wa

  &__field--wa {
  }

  // .account-form__checkbox

  &__checkbox {
  }

  // .account-form__regBtn

  &__regBtn {
  }

  // .account-form__button

  &__button {
  }

  // .account-form__note

  &__note {
  }
}
