.advantages .container-fluid {
  padding-top: 80px;
  padding-bottom: 77px;
  background-color: var(--white-color);
}
.advantages__top-picture {
  padding-top: 22px;
}
.advantages__second-heading {
  margin-bottom: 16px;
  padding-right: 160px;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark-gray-blue);
}
.advantages__top-paragraph {
  margin-bottom: 23px;
  padding-right: 29px;
  line-height: 24px;
}
.advantages__card-row {
  align-items: center;
}
.advantages__card-text {
  flex-grow: 2;
}
/* .advantages__bottom-card {
  padding-left: -15px;
  padding-right: -15px;
} */
.advantages__bottom-paragraph {
  line-height: 19px;
  font-weight: var(--bold-weight);
}

@media (max-width: 1439px) {
  .advantages .container-fluid {
    padding-top: 81px;
    padding-bottom: 75px;
  }
  .advantages__second-heading {
    padding-right: 0;
  }
  .advantages__top-picture {
    padding-top: 25px;
  }
  .advantages__top-picture img {
    width: 100%;
  }
  .advantages__top-paragraph {
    padding-right: 0;
  }
  .advantages__card-picture {
    padding-bottom: 9px;
  }
}
@media (max-width: 767px) {
  .advantages .container-fluid {
    padding-bottom: 36px;
  }
  .advantages__top-picture {
    padding-top: 0;
  }
}
@media (max-width: 575px) {
  .advantages .container-fluid {
    padding-top: 50px;
    padding-bottom: 19px;
  }
  .advantages__second-heading {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 26px;
  }
  .advantages__top-picture {
    display: none;
  }
  .advantages__bottom-card {
    margin-bottom: 19px;
  }
  .advantages__card-picture {
    padding-bottom: 0;
    max-width: 90px;
  }
  .advantages__card-text {
    padding: 0 0 0 30px;
  }
}
