.header {
  background-color: #3F2AFF;
}
.header__container {
  position: relative;
}
.header__logo-container {
  padding-top: 29px;
}
.header__logo-link:focus {
  outline: none;
}
.header__logo-link.focus-visible {
  outline: 1px solid var(--white-color);
}
.header__burger {
  display: none;
}
.header__burger-container {
  display: none;
}
.header__burger-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1px;
  height: 433px;
  padding: 0;
  visibility: hidden;
  background-color: var(--blackcurrant);
  transition: var(--transition-05);
  will-change: width;
}
.header__burger-menu .header__list {
  display: none;
  flex-direction: column;
  padding-top: 19px;
  padding-left: 25px;
}
.header__burger-menu .header__list-unit {
  margin-bottom: 59px;
}
.header__burger-menu .header__list-link {
  color: var(--white-color);
}
.header__burger-menu.is-active {
  width: 330px;
  visibility: visible;
}
.header__burger-menu.is-active .header__list {
  display: flex;
}
.header__burger-menu.is-active .header__list-unit {
  margin-right: auto;
  margin-bottom: 58px;
}
.header__close {
  display: none;
  position: relative;
  top: 25px;
  left: 285px;
  padding: 0;
  margin-bottom: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header__close:before, .header__close:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 23px;
  height: 3px;
  background-color: var(--white-color);
  transition: background-color var(--transition-05);
}
.header__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header__close:hover::before, .header__close:hover::after {
  background-color: var(--dark-gray);
  transition: background-color var(--transition-05);
}
.header__close:focus {
  outline: none;
}
.header__close.focus-visible {
  outline: 1px solid var(--white-color);
  border-radius: 5px;
  transition: outline var(--transition-05);
}
.header__close:active::before, .header__close:active::after {
  background-color: var(--blue-color);
  transition: background-color var(--transition-05);
}
.header__burger-menu.is-active .header__close {
  display: flex;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  padding: 30px 2px 32px 0;
}
.header__list-unit:not(:last-child) {
  margin-right: 56px;
}
.header__list-link {
  position: relative;
  font-size: 18px;
  color: #FFFFFF;
  transition: color var(--transition-05);
}
.header__list-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  outline: 1px solid var(--black-color);
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  transition: opacity var(--transition-05);
}
.header__list-link::after {
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--white-color);
  transition: width var(--transition-05);
}
.header__list-link:hover::after {
  width: 100%;
  transition: width var(--transition-05);
}
.header__list-link:focus {
  outline: none;
}
.header__list-link.focus-visible {
  outline: 1px solid var(--white-color);
}
.header__list-link:active {
  color: var(--blue-color);
  transition: color var(--transition-05);
  z-index: 1;
}
.header__list-link:active::before {
  opacity: 1;
  transition: opacity var(--transition-05);
}

@media (max-width: 1199px) {
  .header__logo-container, .header__list {
    padding-top: 33px;
  }
}
@media (max-width: 767px) {
  .header__logo-container {
    padding-top: 30px;
    text-align: center;
  }
  .header__list {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .header__logo-link img {
    width: 72px;
  }
  .header__burger {
    display: block;
    margin: 28px 5px 22px 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: none;
    transition: transform var(--transition-05), fill var(--transition-05);
  }
  .header__burger:hover svg {
    transform: scale(1.2);
    transition: transform var(--transition-05);
  }
  .header__burger:active svg rect{
    fill: var(--dark-gray);
    transition: fill var(--transition-05);
  }
  .header__burger-container {
    display: flex;
    justify-content: flex-end;
  }
  .header__nav {
    display: none;
  }
  .header__logo-container {
    padding-top: 32px;
    padding-bottom: 29px;
    text-align: left;
  }
}
