.hero .container-fluid {
  background-image: url(../img/Rectangle\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__content {
  padding-top: 131px;
  padding-bottom: 130px;
}
.hero__first-heading {
  margin-bottom: 25px;
  font-size: 60px;
  font-weight: var(--bold-weight);
  line-height: 60px;
  color: #FFFFFF;
}
.hero__pargraph {
  margin-bottom: 65px;
  line-height: 27px;
  font-size: 18px;
  color: #FFFFFF;
}
.hero__choose-button {
  max-width: 270px;
  width: 100%;
  padding: 24px 0;
  background-color: var(--blue-color);
  font-size: 18px;
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color var(--transition-05);
}
.hero__choose-button:hover {
  background-color: var(--black-color);
  transition: background-color var(--transition-05);
}
.hero__choose-button:focus {
  outline: none;
}
.hero__choose-button.focus-visible {
  background-color: var(--white-color);
  color: var(--blue-color);
  outline: 1px solid var(--black-color);
  transition: background-color var(--transition-05), color var(--transition-05), outline var(--transition-05);
}
.hero__choose-button:active {
  outline: 1px solid var(--white-color);
  transition: outline var(--transition-05);
}
.hero__picture img {
  padding: 15px 0 0 3px;
}

@media (max-width: 1439px) {
  .hero__content {
    padding-top: 130px;
    padding-bottom: 135px;
    z-index: 30;
  }
  .hero__first-heading {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
  }
  .hero__pargraph {
    margin-bottom: 63px;
  }
}
@media (max-width: 1399px) {
  .hero__picture {
    position: relative;
  }
  .hero__picture img {
    position: absolute;
    padding: 0;
    width: 102%;
    right: 14px;
    z-index: 1;
  }
}
@media (max-width: 1019px) {
  .hero__picture img {
   top: 125px;
  }
}
@media (max-width: 767px) {
  .hero__content {
    padding-top: 77px;
    padding-right: 44px;
  }
  .hero__picture {
    display: none;
  }
}
@media (max-width: 575px) {
  .hero__content {
    padding-top: 51px;
    padding-bottom: 50px;
    padding-right: 15px;
    z-index: 0;
  }
  .hero__first-heading {
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 30px;
  }
  .hero__pargraph {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 21px;
  }
  .hero__choose-button {
    padding: 21px 0;
    max-width: 213px;
    font-size: 16px;
  }
}
