html {
  box-sizing: border-box; /*Ширина и высота элементов теперь рассчитывается от границ блока, а не контента*/
}
*,
*:before,
*:after {
  box-sizing: inherit; /*Задаёт каждому элементу, перед ним и после него наследование бокс сайзинга от его материнского элемента*/

}
.row {
  --bs-gutter-x: 30px;
}
body {
  margin: 0; /*Убирает отступы*/
  font-family: "Roboto", "Arial", sans-serif; /*Задаёт шрифт телу страницы. Если необходимый шрифт по каким-то ричинам не загружается, то вместо него используется тот, который записан после него, и так далее*/
  font-size: 16px; /*Задаёт изначальный размер шрифта. Пишется наиболее часто встречающийся размер на странице. Это нужно, чтобы по 1к раз не писать размер шрифта в CSS*/
  font-weight: var(--regular-weight); /* font-weight: normal; */
  line-height: 1;
  background-color: #FFFFFF; /*Цвет фона*/
  color:#000000; /*То же, что и font-size, только для цвета шрифта*/
}
.ul-reset {
  margin: 0;
  list-style-type: none;
}
.link-reset {
  text-decoration: none;
}
.text-reset {
  margin: 0;
}
.header .container {
  background-color: #3F2AFF;
}
.header__container {
  position: relative;
}
.header__logo-container {
  padding-top: 29px;
}
.header__burger {
  display: none;
}
.header__burger-container {
  display: none;
}
.header__burger-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1px;
  height: 433px;
  padding: 0;
  visibility: hidden;
  background-color: var(--blackcurrant);
  transition: var(--transition-05);
}
.header__burger-menu .header__list {
  display: none;
  flex-direction: column;
  padding-top: 19px;
  padding-left: 15px;
}
.header__burger-menu .header__list-unit {
  margin-bottom: 59px;
}
.header__burger-menu .header__list-link {
  color: var(--white-color);
}
.header__burger-menu.is-active {
  width: 330px;
  visibility: visible;
}
.header__burger-menu.is-active .header__list {
  display: flex;
}
.header__close {
  display: none;
  position: relative;
  top: 30px;
  left: 275px;
  margin-bottom: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header__close:before, .header__close:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 15px;
  width: 23px;
  height: 3px;
  background-color: var(--white-color);
  transition: var(--transition-05);
}
.header__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header__burger-menu.is-active .header__close {
  display: flex;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  padding: 30px 2px 32px 0;
}
.header__list-unit:not(:last-child) {
  margin-right: 56px;
}
.header__list-link {
  font-size: 18px;
  color: #FFFFFF;
}
.hero .container {
  background-image: url(../img/Rectangle\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__content {
  padding-top: 131px;
  padding-bottom: 130px;
}
.hero__first-heading {
  margin-bottom: 25px;
  font-size: 60px;
  font-weight: var(--bold-weight);
  line-height: 60px;
  color: #FFFFFF;
}
.hero__pargraph {
  margin-bottom: 65px;
  line-height: 27px;
  font-size: 18px;
  color: #FFFFFF;
}
.hero__choose-button {
  max-width: 270px;
  width: 100%;
  padding: 24px 0;
  background-color: var(--blue-color);
  font-size: 18px;
  color: var(--white-color);
  border: none;
  border-radius: 20px;
}
.hero__picture img {
  padding: 15px 0 0 3px;
}
.advantages .container {
  padding-top: 80px;
  padding-bottom: 77px;
  background-color: var(--white-color);
}
.advantages__top-picture {
  padding-top: 22px;
}
.advantages__second-heading {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark-gray-blue);
}
.advantages__top-paragraph {
  margin-bottom: 23px;
  padding-right: 29px;
  line-height: 24px;
}
.advantages__card-row {
  align-items: center;
}
.advantages__card-picture {
  max-width: 110px;
}
.advantages__card-text {
  flex-grow: 2;
}
.advantages__bottom-paragraph {
  line-height: 19px;
  font-weight: var(--bold-weight);
}
.teachers .container {
  padding-top: 77px;
  padding-bottom: 72px;
  background-color: var(--dark-blue);
}
.teachers__container {
  justify-content: center;
}
.teachers__second-heading {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  color: var(--white-color);
  font-weight: var(--bold-weight);
}
.teachers__cards {
  padding: 0;
}
.teachers__card-one, .teachers__card-two, .teachers__card-three, .teachers__card-four {
  padding-top: 211px;
}
.teachers__card-one {
  background-image: url(../img/Rectangle1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.teachers__card-two {
  background-image: url(../img/Rectangle7.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.teachers__card-three {
  background-image: url(../img/Rectangle8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.teachers__card-four {
  background-image: url(../img/Rectangle9.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.teachers__third-heading {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 27px;
  color: var(--white-color);
}
.teachers__paragraph {
  color: var(--gray-blue);
  line-height: 24px;
}
.courses .container {
  padding-top: 75px;
  padding-bottom: 50px;
}
.courses__card {
  display: flex;
  padding-bottom: 29px;
}
.courses__second-heading {
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 40px;
  font-weight: var(--bold-weight);
  color: var(--dark-blue);
}
.courses__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 210px 30px 30px 30px;
  background-color: var(--light-gray);
  border-radius: 20px;
}
.courses__hours {
  position: absolute;
  display: flex;
  align-items: center;
  top: 13px;
  right: 4px;
}
.courses__watch {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}
.courses__watch::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 8px;
  top: 15%;
  left: 45%;
  border-left: 2px solid var(--white-color);
}
.courses__watch::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 7px;
  top: 37%;
  left: 53%;
  border-bottom: 2px solid var(--white-color);
  transform: rotate(45deg);
}
.courses__hours-quantity {
  color: var(--white-color);
}
.courses__pic-1, .courses__pic-2, .courses__pic-3, .courses__pic-4 {
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;
}
.courses__pic-1 {
  background-image: url(../img/6.jpg);
}
.courses__pic-2 {
  background-image: url(../img/11.jpg);
}
.courses__pic-3 {
  background-image: url(../img/001.jpg);
}
.courses__pic-4 {
  background-image: url(../img/002.jpg);
}
.courses__third-heading {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-blue);
}
.courses__paragraph {
  flex-grow: 2;
  margin-bottom: 50px;
  color: var(--dark-gray);
  line-height: 24px;
}
.courses__details-button {
  max-width: 202px;
  width: 100%;
  padding: 21px 0 21px 0;
  background-color: var(--blue-color);
  font-size: inherit;
  color: var(--white-color);
  border: none;
  border-radius: 20px;
}
.footer__media {
  margin: 0 auto;
  background-color: var(--dark-gray-blue);
}
.footer__media-list {
  display: flex;
  justify-content: center;
  padding-top: 31px;
  padding-bottom: 26px;
}
.footer__media-unit {
  padding: 0 17px;
}
.footer__container-bottom {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --blue-color: #3F2AFF;
  --dark-gray: #666666;
  --dark-blue: #212133;
  --dark-gray-blue: #2E2B44;
  --gray-blue: #85859B;
  --light-gray: #EDF0F9;
  --blackcurrant: #2F2C45;
  --regular-weight: 400;
  --medium-weight: 600;
  --bold-weight: 700;
  --black-weight: 800;
  --transition-05: 0.5s ease;
}
@media (min-width: 320px) {
  .container, .container-sm {
    max-width: 320px;
    padding: 0 15px;
  }
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 576px;
    padding: 0 33px;
  }
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 768px;
    padding: 0 39px;
  }
}
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
    padding: 0 50px;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
    padding: 0 100px;
  }
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
    padding: 0 150px;
  }
}
@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
    padding: 0 165px;
  }
}
@media (max-width: 1439px) {
  .hero__content {
    padding-top: 130px;
    padding-bottom: 135px;
    z-index: 30;
  }
  .hero__first-heading {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
  }
  .hero__pargraph {
    margin-bottom: 63px;
  }
  .advantages .container {
    padding-top: 81px;
  }
  .advantages__top-picture {
    padding-top: 25px;
  }
  .advantages__top-picture img {
    width: 100%;
  }
  .advantages__top-paragraph {
    padding-right: 0;
  }
  .advantages__card-picture {
    padding-bottom: 9px;
  }
  .teachers .container {
    padding-top: 73px;
    padding-bottom: 26px;
  }
  .teachers__second-heading {
    margin-bottom: 23px;
  }
  .teachers__card-one, .teachers__card-two, .teachers__card-three, .teachers__card-four {
    margin-bottom: 22px;
  }
  .courses__card {
    padding-bottom: 30px;
  }
  .courses__hours {
    top: 13px;
    right: 10px;
  }
  .courses__paragraph {
    margin-bottom: 29px;
  }
  .courses__details-button {
    max-width: 195px;
  }

}
@media (max-width: 1399px) {
  .hero__picture {
    position: relative;
  }
  .hero__picture img {
    position: absolute;
    padding: 0;
    width: 102%;
    top: 125px;
    right: 14px;
    z-index: 1;
  }
  .teachers__card-one, .teachers__card-two, .teachers__card-three, .teachers__card-four {
    padding-top: 290px;
  }
  .teachers__card-one {
    background-image: url(../img/Rectangle1b.png);
  }
  .teachers__card-two {
    background-image: url(../img/Rectangle7b.png);
  }
  .teachers__card-three {
    background-image: url(../img/Rectangle8b.png);
  }
  .teachers__card-four {
    background-image: url(../img/Rectangle9b.png);
  }
}
@media (max-width: 991px) {
  .teachers__card-one, .teachers__card-two, .teachers__card-three, .teachers__card-four {
    padding-top: 210px;
  }
}
@media (max-width: 767px) {
  .header__logo-container {
    text-align: center;
  }
  .header__list {
    justify-content: center;
  }
  .hero__content {
    padding-top: 77px;
  }
  .hero__picture {
    display: none;
  }
  .advantages .container {
    padding-bottom: 36px;
  }
  .advantages__top-picture {
    padding-top: 0;
  }
  .teachers .container {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .teachers__card-one {
    background-image: url(../img/Rectangle1.png);
  }
  .teachers__card-two {
    background-image: url(../img/Rectangle7.png);
  }
  .teachers__card-three {
    background-image: url(../img/Rectangle8.png);
  }
  .teachers__card-four {
    background-image: url(../img/Rectangle9.png);
  }
  .courses__third-heading {
    margin-bottom: 10px;
    line-height: 23px;
  }
  .courses__paragraph {
    margin-bottom: 33px;
  }
  .courses__content {
    padding-right: 22px;
  }
  .courses__details-button {
    max-width: 180px;
  }
}
@media (max-width: 575px) {
  .header__logo-link img {
    width: 72px;
  }
  .header__burger {
    display: block;
    margin: 28px 5px 22px 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .header__burger-container {
    display: flex;
    justify-content: flex-end;
  }
  .header__nav {
    display: none;
  }
  .header__logo-container {
    padding-top: 32px;
    padding-bottom: 29px;
    text-align: left;
  }
  .hero__content {
    padding-top: 51px;
    padding-bottom: 50px;
    z-index: 0;
  }
  .hero__first-heading {
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 30px;
  }
  .hero__pargraph {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 21px;
  }
  .hero__choose-button {
    padding: 21px 0;
    max-width: 213px;
    font-size: 16px;
  }
  .advantages .container {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .advantages__second-heading {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 26px;
  }
  .advantages__top-picture {
    display: none;
  }
  .advantages__bottom-card {
    margin-bottom: 19px;
  }
  .advantages__card-picture {
    padding-bottom: 0;
  }
  .advantages__card-text {
    padding: 0 0 0 30px;
  }
  .teachers .container {
    padding-top: 47px;
    padding-bottom: 24px;
  }
  .teachers__second-heading {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }
  .teachers__card-one, .teachers__card-two, .teachers__card-three, .teachers__card-four {
    background-size: 100% 53%;
  }
  .courses .container {
    padding-top: 46px;
    padding-bottom: 18px;
  }
  .courses__second-heading {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }
  .courses__content {
    padding-right: 28px;
  }
  .courses__third-heading {
    flex-grow: 1;
  }
  .courses__paragraph {
    margin-bottom: 81px;
    flex-grow: 3;
  }
  .courses__details-button {
    max-width: 195px;
    flex-grow: 1;
  }
  .style320-2 {
    margin-bottom: 129px;
  }
  .style320-3 {
    margin-bottom: 154px;
    padding-right: 12px;
  }
  .padding320 {
    padding-right: 62px;
    padding-left: 2px;
  }
}





