html {
  box-sizing: border-box; /*Ширина и высота элементов теперь рассчитывается от границ блока, а не контента*/
}
*,
*:before,
*:after {
  box-sizing: inherit; /*Задаёт каждому элементу, перед ним и после него наследование бокс сайзинга от его материнского элемента*/

}
body {
  margin: 0; /*Убирает отступы*/
  font-family: "Roboto", "Arial", sans-serif; /*Задаёт шрифт телу страницы. Если необходимый шрифт по каким-то ричинам не загружается, то вместо него используется тот, который записан после него, и так далее*/
  font-size: 16px; /*Задаёт изначальный размер шрифта. Пишется наиболее часто встречающийся размер на странице. Это нужно, чтобы по 1к раз не писать размер шрифта в CSS*/
  font-weight: var(--regular-weight); /* font-weight: normal; */
  line-height: 1;
  background-color: #FFFFFF; /*Цвет фона*/
  color:#000000; /*То же, что и font-size, только для цвета шрифта*/
}
.container {
  padding: 0 165px;
  margin: 0;
}
.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link-reset {
  text-decoration: none;
}
.text-reset {
  margin: 0;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --blue-color: #3F2AFF;
  --dark-gray: #666666;
  --dark-blue: #212133;
  --dark-gray-blue: #2E2B44;
  --gray-blue: #85859B;
  --light-gray: #EDF0F9;
  --blackcurrant: #2F2C45;
  --regular-weight: 400;
  --medium-weight: 600;
  --bold-weight: 700;
  --black-weight: 800;
  --transition-05: 0.5s ease;
}
@media (max-width: 1439px) {
  .container {
    padding: 0 150px;
  }
}
@media (max-width: 1199px) {
  .container {
    padding: 0 39px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 33px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 992px;
  }
}
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
  }
}
