.header__header {
  background-color: var(--white-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  align-items: center;
  padding: 14px 10px 13px 0;
  background-color: var(--white-color);
}
.header__burger {
  display: none;
}
.header__logo {
  display: flex;
  flex-grow: 2;
  width: 224px;
  margin-right: auto;
}
.header__nav {
  display: flex;
  flex-grow: 1;
  max-width: 708px;
  margin-right: 70px;
}
.header__nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 4px 2px 0 0;
}
.header__nav-item {
  display: block;
  min-width: 55px;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}
.header__nav-item:nth-child(3) {
  margin-right: auto;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  display: block;
  transition: color var(--transition-05), width var(--transition-05), border var(--transition-05);
}
.header__nav-link::after {
  display: block;
  height: 1px;
  width: 0%;
  content: "";
  background-color: var(--orange-color);
  transition: color var(--transition-05), width var(--transition-05);
}
.header__nav-link:hover::after,
.header__nav-link:active::after {
  width: 100%;
}
.header__nav-link:focus {
  background-color: transparent;
  outline: 1px var(--orange-color) solid;
  transition: border var(--transition-05);
}
.header__nav-link:active {
  color: var(--dark-orange);
  border-bottom: 1px var(--dark-orange) solid;
}
.header__nav-link:active::after {
  display: block;
  height: 1px;
  content: "";
  background-color: var(--dark-orange);
}
.header__search-button {
  display: flex;
  flex-grow: 0;
  width: 26px;
  height: 26px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  transition: border var(--transition-05);
}
.header__search-button svg rect {
  fill: var(--black-color);
  transition: fill var(--transition-05);
}
.header__search-button svg circle {
  stroke: var(--black-color);
  transition: stroke var(--transition-05);
}
.header__search-button:hover svg rect {
  fill: var(--orange-color);
  transition: fill var(--transition-05);
}
.header__search-button:hover svg circle {
  stroke: var(--orange-color);
  transition: stroke var(--transition-05);
}
.header__search-button:focus {
  outline: 1px var(--orange-color) solid;
  transition: border var(--transition-05);
}
@media (max-width: 1039px) {
  .header__nav {
    display: none;
  }
  .header__logo {
    width: auto;
    justify-content: center;
  }
  .header__logo img {
    width: 150px;
    height: 48px;
  }
  .header__burger {
    display: block;
  }
  .header__container {
    padding: 26px 0;
  }
}
@media (max-width: 783px) {
  .header__container {
    padding: 10px 0;
  }
}
@media (max-width: 698px) {
  .header__container {
    padding: 17px 0;
  }
  .header__logo img {
    width: 110px;
    height: 35px;
  }
}

