.section-faq__container {
  padding: 0 0 0 2px;
  margin-bottom: 100px;
}
.second-heading.section-faq__second-heading {
  margin-bottom: 39px;
}
.section-faq__spoiler, .section-faq__spoiler:active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom:30px;
  padding-left: 3px;
  line-height: 32px;
  border-bottom: 1px var(--caca-color) solid;
  border-top: 1px transparent solid;
  transition: border-bottom var(--transition-05), border-top var(--transition-05), color var(--transition-05);
}
.section-faq__spoiler:first-child, .section-faq__spoiler:first-child:active {
  border-top: 1px var(--caca-color) solid;
}
.section-faq__spoiler-heading {
  display: flex;
  margin: 0 118px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
}
.section-faq__circle-cross {
  position: relative;
  min-width: 50px;
	min-height: 50px;
	background-color: #ECECEC;
	border-radius: 50px;
}
.section-faq__circle-cross:before, .section-faq__circle-cross:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 31px;
  height: 1px;
  background: #666666;
}
.section-faq__circle-cross:before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.section-faq__circle-cross:after {
  transform: translate(-50%, -50%);
}
.section-faq__spoiler:hover, .section-faq__spoiler:focus {
  border-bottom: 1px var(--orange-color) solid;
  border-top: 1px var(--orange-color) solid;
  color: var(--orange-color);
  transition: border-bottom var(--transition-05), border-top var(--transition-05), color var(--transition-05);
}
.section-faq__spoiler:hover .section-faq__circle-cross, .section-faq__spoiler:focus .section-faq__circle-cross {
  background-color: var(--orange-color);
  transition: background-color var(--transition-05);
}
.section-faq__spoiler:hover .section-faq__circle-cross svg path, .section-faq__spoiler:focus .section-faq__circle-cross svg path {
  fill: var(--white-color);
  transition: fill var(--transition-05);
}
.section-faq__spoiler:active .section-faq__circle-cross svg path {
  fill: transparent;
  transition: transform var(--transition-05);
}
.section-faq__spoiler:active .section-faq__circle-cross {
  background-image: url(../img/svg-editor-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image var(--transition-05);
}
.section-faq__spoiler:active .section-faq__circle-cross:before, .section-faq__spoiler:active .section-faq__circle-cross:after {
  background: transparent;
}
.section-faq__spoiler-heading::marker {
  display: none;
}
/*
.section-faq__spoiler-paragraph {
  max-width: 1003px;
  line-height: 32px;
}
*/
@media (max-width: 1039px) {
  .section-faq__container {
    padding: 0;
    margin-bottom: 80px;
  }
  .section-faq__spoiler-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-faq__spoiler {
    margin: 0;
    padding: 29px 0;
  }
  .section-faq__spoiler-heading {
    max-width: 756px;
    font-size: 20px;
  }
}
@media (max-width: 783px) {
  .section-faq__spoiler-heading {
    max-width: 570px;
    margin-right: 48px;
  }
}
@media (max-width: 698px) {
  .section-faq__container {
    margin-bottom: 66px;
  }
  .section-faq__second-heading {
    font-size: 24px;
    line-height: 29px;
  }
  .second-heading.section-faq__second-heading {
    margin-bottom: 16px;
  }
  .section-faq__spoiler, .section-faq__spoiler:active {
    margin: 0;
    padding-left: 0;
  }
  .section-faq__spoiler-heading {
    max-width: 243px;
    margin-right: 17px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .section-faq__circle-cross {
    min-width: 30px;
    min-height: 30px;
  }
  .section-faq__circle-cross:before, .section-faq__circle-cross:after {
    width: 18px;
  }
  .section-faq__spoiler:active .section-faq__circle-cross {
    background-size: 18px;
  }
}
