.section-hero__container {
  padding: 100px 0 91px 79px;
  margin-bottom: 100px;
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
  background-size: auto auto;
  background-repeat: no-repeat;
}
.section-hero__content {
  max-width: 842px;
}
.section-hero__first-heading {
  margin: 0 0 22px 0;
  font-size: 70px;
  font-weight: 800;
  line-height: 86px;
  color: var(--white-color);
}
.section-hero__paragraph {
  margin-bottom: 96px;
  font-size: 23px;
  line-height: 29px;
  font-weight: 700;
  color: var(--white-color);
}
.section-hero__calculation-link {
  display: block;
  max-width: 282px;
  padding: 26px 40px;
  background-color: var(--orange-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  color: var(--white-color);
  transition: background-color var(--transition-05);
}
.section-hero__calculation-link:hover, .section-hero__calculation-link:focus {
  background-color: rgb(255, 153, 0, 0.6);
  transition: background-color var(--transition-05);
}
.section-hero__calculation-link:active {
  background-color: var(--dark-orange);
  transition: background-color var(--transition-05);
}
@media (max-width: 1039px) {
.section-hero__container {
  margin-bottom: 80px;
  padding: 158px 77px 160px 77px;
  background-image: url(../img/low-angle-photo-of-balconies-24620152.jpg);
  background-size: cover;
}
.section-hero__paragraph {
  max-width: 660px;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 24px;
}
.section-hero__first-heading {
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 17px;
}
.section-hero__calculation-link {
  max-width: 280px;
  padding: 25px 36px;
}
}
@media (max-width: 783px) {
  .section-hero__container {
    padding: 160px 40px;
  }
  .section-hero__first-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .section-hero__paragraph {
    margin-bottom: 56px;
    font-size: 18px;
  }
}
@media (max-width: 698px) {
  .section-hero__container {
    margin-bottom: 45px;
    padding: 60px 21px;
  }
  .section-hero__first-heading {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .section-hero__paragraph {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .section-hero__calculation-link {
    width: 162px;
    height: 40px;
    margin: 0 auto;
    font-size: 12px;
    padding: 12px 18px;
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
  }

}
