.section-work__container {
  margin-bottom: 100px;
}
.section-work__second-heading {
  margin-bottom: 48px;
}
.section-work__steps {
  display: flex;
  margin-bottom: 46px;
  padding-left: 3px;
}
.section-work__step {
  margin-right: 89px;
  font-size: 18px;
  line-height: 21px;
}
.section-work__step .section-work__step-item {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: inherit;
  line-height: 17px;
  transition: color var(--transition-05), border var(--transition-05);
}
.section-work__step:nth-last-child(2), .section-work__step:nth-last-child(3) {
  margin-right: 89px;
}
.section-work__step:last-child {
  margin-right: 0;
}
.section-work__step-item:hover {
  color: var(--orange-color);
  transition: color var(--transition-05);
}
.section-work__step-item:focus {
  outline: 1px var(--orange-color) solid;
  transition: outline var(--transition-05);
}
.section-work__step .section-work__step-item:active {
  color: var(--dark-orange);
}
.section-work__content-picture {
  display: flex;
}
.section-work__content {
  max-width: 758px;
  margin-right: 142px;
  padding-left: 1px;
}
.section-work__third-heading {
  margin-bottom: 5px;
  padding-left: 1px;
}
.section-work__paragraph {
  max-width: 759px;
  margin-bottom: 62px;
  padding-left: 1px;
  line-height: 32px;
  font-size: 16px;
}
.section-work__details-link {
  display: inline-block;
  width: 175px;
  margin-right: 26px;
  padding: 21px 38px 20px 38px;
  background-color: var(--orange-color);
  font-weight: 600;
  line-height: 19px;
  color: var(--white-color);
  transition: background-color var(--transition-05);
}
.section-work__details-link:hover, .section-work__details-link:focus {
  background-color: var(--light-orange);
  transition: background-color var(--transition-05);
}
.section-work__details-link:active {
  background-color: var(--dark-orange);
  transition: background-color var(--transition-05);
}
.section-work__contract-link {
  display: inline-block;
  width: 147px;
  padding: 20px 37px 17px 37px;
  border: 1px var(--black-color) solid;
  line-height: 19px;
  transition: background-color var(--transition-05), color var(--transition-05);
}
.section-work__contract-link:hover, .section-work__contract-link:focus {
  background-color: #666666;
  color: var(--white-color);
  transition: background-color var(--transition-05), color var(--transition-05);
}
.section-work__contract-link:active {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: background-color var(--transition-05), color var(--transition-05);
}
.section-work__picture {
  display: flex;
  max-width: 870px;
  background-image: url(../img/Rectangle18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}
@media (max-width: 1039px) {
  .section-work__container {
    margin-bottom: 80px;
  }
  .section-work__steps {
    padding: 0;
    margin-bottom: 53px;
  }
  .section-work__step, .section-work__step:nth-last-child(2), .section-work__step:nth-last-child(3) {
    margin-right: 85px;
  }
  .section-work__content {
    margin-right: 50px;
  }
  .section-work__third-heading {
    padding: 0;
    margin-bottom: 10px;
  }
  .section-work__paragraph {
    max-width: 940px;
    padding-left: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 953px) {
  .section-work__steps {
    justify-content: space-between;
    padding-left: 0;
  }
  .section-work__step, .section-work__step:nth-last-child(2), .section-work__step:nth-last-child(3) {
    margin-right: auto;
  }
  .section-work__content-picture {
    flex-direction: column-reverse;
  }
  .section-work__content {
    margin: 0;
  }
  .section-work__picture {
    min-height: 284px;
    margin-bottom: 38px;
  }
}
@media (max-width: 698px) {
  .section-work__container {
    margin-bottom: 60px;
  }
  .section-work__second-heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
  }
  .section-work__steps {
    margin-bottom: 16px;
  }
  .section-work__step {
    font-size: 14px;
    line-height: 17px;
  }
  .section-work__content {
    padding-left: 0;
  }
  .section-work__paragraph {
    margin-bottom: 16px;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
  }
  .section-work__details-link {
    width: 162px;
    height: 40px;
    padding: 11px 0 0 0;
    margin: 0 5px 0 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;

  }
  .section-work__contract-link {
    width: 118px;
    height: 40px;
    padding: 11px 0 0 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
  }
  .section-work__picture {
    min-height: 160px;
    margin-bottom: 17px;
  }
  .section-work__third-heading {
    font-size: 18px;
    font-weight: 500;
  }
}
